{% load account %}
{% load inlinecss %}


{% inlinecss 'accounts/css/emails.css' %}
    <html>
        <body>
            <div class="wrapper">
                <div class="email-content">
                    <h1 class="header-center">Verify your account</h1>
                    {% with site_name=current_site.name site_domain=current_site.domain %}
                        <p>
                            Thanks for signing up.
                            Confirm your email address is {{ user.email }} to activate your {{ site_domain }} account:
                        </p>
                        <a href="{{ activate_url }}"
                           class="confirm-button">
                            CONFIRM
                        </a>

                        <p>
                            Thanks,
                            <br>
                            {{ site_name }} Team
                        </p>
                    {% endwith %}
                </div>
            </div>

        </body>
    </html>
{% endinlinecss %}