<div id="live-chat">
    <header>
        <h4>
            <span class="chat-bot-header">Airbnb Helper</span>
            <span class="close-chat-bot-btn"><i class="far fa-times-circle"></i></span>
        </h4>
    </header>

    <div class="chat">
        <div class="chat-history">
            <div class="chat-message message-bot">
                <div class="chat-message-content">
                    <span class="chat-time">23:05</span>
                    <h5>Airbnb Helper</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Error, explicabo quasi ratione odio dolorum harum.
                    </p>
                </div>
            </div>

            <div class="chat-message message-user">
                <div class="chat-message-content">
                    <span class="chat-time">23:08</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="chat-bot-input">
            <input type="text" placeholder="Check available places">
            <span class="chat-bot-send-btn"><i class="fas fa-paper-plane"></i></span>
        </div>
    </div>

</div>