{% load static %}
{% load main_extras %}
{% load thumbnail %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-5 brand-logo" href="{% url 'home_page' %}">
        <i class="fab fa-airbnb"></i>
        airbnb
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-form">
            <input class="form-control mr-sm-2 search-field text-center" type="search" placeholder="Start your search" aria-label="Search">
        </form>
        <div class="nav-links--right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if request.user|has_group:'hosts' %}
                        {# TODO: Host dashboard #}
                        <a class="nav-link link-host-signup" href="#">Switch to hosting</a>
                    {% else %}
                        <a class="nav-link link-host-signup" href="{% url 'hosts:become_a_host' %}">
                            Become a host
                        </a>
                    {% endif %}

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if request.user.is_authenticated %}
                            {% if request.user.profile.profile_image %}
                                {% thumbnail request.user.profile.profile_image "32x33" crop='center' as profile_image %}
                                    <img src="{{ profile_image.url }}"
                                         width="{{ profile_image.width }}" height="{{ profile_image.height }}"
                                         alt="Profile image" class="rounded-circle">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'images/default/profile/default_profile_image.png' %}"
                                 width="32" height="33"
                                 alt="Default profile image" class="rounded-circle">
                            {% endif %}
                        {% else %}
                            <img src="{% static 'images/default/profile/default_profile_image.png' %}"
                                 width="32" height="33"
                                 alt="Default profile image" class="rounded-circle">
                        {% endif %}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="#">Messages</a>
                            <a class="dropdown-item" href="#">Notifications</a>
                            <a class="dropdown-item" href="#">Trips</a>
                            <a class="dropdown-item" href="#">Saved</a>

                            <div class="dropdown-divider"></div>
                            {% if request.user|has_group:'hosts' %}
                                {# TODO: Host listings #}
                                <a class="dropdown-item" href="#">Manage listings</a>
                            {% else %}
                                <a class="dropdown-item" href="#">Host your home</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'accounts:settings_dashboard' %}">Account</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'accounts:login' %}">Log in</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:signup' %}">Sign up</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>