{% extends 'base.html' %}
{% load main_extras %}


{% block title %}
    Home Page
{% endblock %}

{% block meta_tags %}
    <meta property="og:title" content="Home Page">
    <meta name="description" property="og:description" content="{{ meta_description }}">
    <meta property="og:url" content="{{ ABSOLUTE_URL }}">
    <meta name="twitter:card" value="summary">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Air",
            "description": "Find vacation rentals, cabins, beach houses, unique homes and experiences around the world - all made possible by hosts on Air",
            "url": "{{ ABSOLUTE_ROOT }}",
            "legalName": "Air, Inc",
            "address": {
                "@type": "PostalAddress",
                "addressCountry": "RU",
                "addressLocality": "Moscow",
                "addressRegion": "Moscow",
                "postalCode": "123557",
                "streetAddress": "Rastorguyevskiy Pereulok, 3"
            },
            "telephone": "+7 985 168 60 43"
        }
    </script>
{% endblock %}

{% block content %}
    <div class="realty-explore">
        <h2>Explore nearby</h2>

        {# TODO: Most popular cities (redis, another milestone) #}
        <div class="row">
            {% for city in popular_cities %}
                <div class="col-md-4">
                    <div class="realty-city">
                        <a href="{% url 'realty:all_by_city' city_slug=city|slugify %}">
                            <span class="realty-city--image">
                                <img src="https://via.placeholder.com/64x64" width="64" height="64">
                            </span>
                            <span class="realty-city--description">
                                <span class="realty-city--name">{{ city }}</span>

                                {# TODO: Distance  #}
                                <span class="realty-city--distance">N minute drive</span>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}