.idea/
__pycache__/
*.pyc
venv/

/docs/_build/

*.pytest_cache

celerybeat-schedule

*.sqlite3

airbnb/media/*
!airbnb/media/default/

airbnb/static/*
!airbnb/static/accounts/
!airbnb/static/subscribers/

*.key
*.crt
*.log

prod_config/

node_modules/

drafts/

*.env*
*.pid
