syntax: glob
# base
*.pyc
*.pyo
*.DS_Store
*.installed.cfg
*build/
local_settings.py
*dist/
*.egg-info/
*~
.idea/
__pycache__/
*.pytest_cache
*.sqlite3
*.log

# local files
*docker-compose-dev.yml
*local.Dockerfile
*local.Makefile
*local-linter.sh
*dev.conf
prod_config/
drafts/
req.old.txt
requirements.local.in
requirements.local.txt

# ENV data
env*
venv*
venv/
*.env
.env.local
.env.*.local
!*example.env

# celery, celery beat
celerybeat-schedule
*.pid

# media
airbnb_app/airbnb/media/*
!airbnb_app/airbnb/media/default/

# static
airbnb_app/airbnb/static/*
!airbnb_app/airbnb/static/accounts/
!airbnb_app/airbnb/static/subscribers/

# whoosh index
*.toc
*.seg
english_daily_yt/english_daily/whoosh_index/

# js
*comment.jsx
*commentbox.jsx
*commentform.jsx

# docs
/docs/_build/

# ssl
*.key
*.crt

# node modules
node_modules/

# yandex
yandex/cloud_functions/*/static
