{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}
    Log in &bull; Airbnb
{% endblock %}

{% block content %}
    <div class="login-page">
        <h1>Log in</h1>

        <form method="POST" class="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-buttons">
                <input type="submit" class="button" value="Log in">
            </div>
        </form>

        <p class="reset-password">
            Forgot your password?
            <a href="{% url 'accounts:password_reset' %}">Click here to reset it</a>
        </p>
    </div>
{% endblock %}