{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}
    Change Password &bull; Airbnb
{% endblock %}

{% block content %}
    <div class="account--security">
        <div class="security--header">
            <div class="account--links">
                <span class="account--link">
                    <a href="{% url 'accounts:settings_dashboard' %}">Account</a>
                </span>
                <span class="account--link active">
                    Change password
                </span>
            </div>
            <h1>Change password</h1>
        </div>

        <div class="security--settings">
            <div class="security--form">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="form-buttons">
                        <input type="submit" class="button button-secondary" value="Change password">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}