@import "variables";
@import "utils";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// General
html, body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  font-family: $font-stack;
  line-height: 1.7;
  min-height: 100%;

  color: $text-primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-primary-color;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

ul {
  list-style: none;
}

a.dropdown-item {
  &:active {
    background: $text-hover-color;
    color: $text-primary-color;
  }
}

input[type='checkbox'] {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin-right: .7rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 3px;
    background-color: white;
  }
  &:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 7px;
  }
}

.content-block {
  margin-top: 1.5rem;
}

form {
  input:focus, select:focus, textarea:focus {
    border-color: $text-primary-color !important;
  }
}


// Navbar
.navbar {
  padding-bottom: .7rem;
  padding-left: 0;
  background: none;
  box-shadow: 0px -3px 5px -5px rgba(34, 60, 80, 0.6) inset;
  margin-bottom: .9rem;

  .search-form {
    margin-left: auto;

    .search-field {
      border-radius: 15px;
      padding: 0 2rem;

      &:focus {
        border-color: #ff385c73;
      }
    }
  }

  .nav-links--right {
    margin-left: auto !important;

    .dropdown-menu {
      left: -50px;
    }

    .link-host-signup {
      padding: .5rem;
      border-radius: 40px;
      margin-right: .7rem;

      &:hover {
        background-color: $text-hover-color;
      }
    }

    .dropdown-toggle {
      &:hover {
        background-color: $text-hover-color;
        border-radius: 40px;
      }
    }
  }

  .nav-link {
    color: $text-primary-color !important;
  }
}


// Content
.page-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}


// Footer
#main-footer {
  background-color: #fff;
  grid-row-start: 2;
  grid-row-end: 3;
}


// Realty explore
.realty-explore {
  margin-top: 1.5rem;

  h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.1;
  }

  .realty-city {
    margin-top: 1rem;

    a {
      text-decoration: none;

      display: grid;
      grid-template-columns: 5rem auto;
    }

    .realty-city--image img {
      border-radius: 12px;
    }

    .realty-city--description {
      display: flex;
      flex-direction: column;

      .realty-city--name {
        font-weight: 600;
        color: $text-primary-color;
      }

      .realty-city--distance {
        color: $text-secondary-color;
      }
    }
  }
}

// Realty list

// Popup filter
.filter-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  .close-popup {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 15px;
  }

  .popup-header {
    text-align: center;

    h3 {
      font-size: 1.2rem;
    }
  }

  .form-section {
    .form-section--header {
      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }

    .form-input {
      label {
        margin-left: .7rem;
      }
    }

    &#section--rooms {
      label {
        margin: 0;
      }

      .form-input {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.realty-list {
  // Realty header
  .header {
    p {
      margin-bottom: 0;
    }
  }

  // Realty filter
  .filter-row {
    margin-top: 1.4rem;
    margin-bottom: 1.5rem;

    .filter--dropdown {
      display: inline-block;
      position: relative;

      .realty-filter--form {
        position: absolute;
        margin-top: .7rem;
        background-color: #fff;
        padding: 1rem 3rem .9rem 1.2rem;
        border: 0.5px solid rgba(118, 118, 118, 0.28);
        border-radius: 10px;
        z-index: 2;

        p:first-child {
          display: none;
        }

        ul#id_realty_type li {
          display: flex;

          label {
            display: flex;
            align-items: center;
          }

          &:not(:first-child) {
            margin-top: .5rem;
          }
        }
      }

      .button-filter {
        margin-right: .6rem;
        padding: .4rem .9rem;
        border-radius: 40px;
        border: 1px solid #b0b0b0;
        background-color: #fff;
        color: $text-primary-color;

        &:hover {
          border-color: $text-primary-color;
        }
      }
    }
  }

  // Realty card
  .realty {
    .realty-card {
      display: flex;
      height: 100%;
      margin-bottom: 1.5rem;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }

      .realty-card--image {
        margin-right: 1rem;
        width: 300px;
        height: 200px;

        img {
          border-radius: 12px;
          width: 300px;
          height: 200px;
          object-fit: fill;
        }
      }

      .realty-card--description {
        display: flex;
        flex-direction: column;

        .realty-card--name {
          a:hover {
            text-decoration: none !important;
          }
        }

        .rooms {
          margin-bottom: 0;
        }

        hr.divider--short {
          margin: 0.2rem;
        }

        .rooms, .amenities {
          >li {
            display: inline-block;
          }
          li:not(:last-child)::after {
            content: " \f111";
            font: normal normal normal 7px/1 FontAwesome;
            vertical-align: middle;
          }
        }
      }

      .realty-card--footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        .realty-price {
          .price {
            color: $text-primary-color;
            font-weight: bolder;
          }
        }
      }

      .realty-card-save {
        margin-left: 1rem;

        a {
          color: $text-primary-color;
          padding: 0.2rem 0.65rem;
          border-radius: 100%;
          display: flex;

          span {
            font-size: 1.3rem;
            text-align: center;
          }
        }

        a:hover {
          background-color: $text-hover-color;
        }
      }
    }
  }
}


// Realty detail
.realty-detail {
  .realty-header {
    margin-top: 1.3rem;
    h1 {
      font-size: 1.8rem;
    }

    .realty-header--footer {
      display: flex;
      justify-content: space-between;

      a.link {
        text-decoration: underline;
      }

      .info--left {
        ul li {
          color: $text-secondary-color;

          &:not(:first-child)::before {
            content: " \f111";
            font: normal normal normal 7px/1 FontAwesome;
            vertical-align: middle;
            margin: 0 .3rem;
          }

          & * {
            color: $text-secondary-color;
          }
        }
      }

      .info--right {
        ul li *{
          color: $text-primary-color;
        }
      }

      .info--left ul, .info--right ul {
        display: flex;
      }

      .realty-save {
        cursor: pointer;
        padding: .3rem .5rem;
        border-radius: 7px;

        &:hover {
          background-color: $text-hover-color;
        }
      }
    }
  }

  .realty-images {
    margin-bottom: 2.5rem;
    padding: 1.3rem 1.3rem 1.8rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: #0000001f 0 6px 16px;

    .splide__pagination {
      bottom: -1.2em;
    }

    .splide__arrow {
      background-color: $text-hover-color;
    }
    .splide__pagination__page {
      &.is-active {
        background-color: $primary-color;
      }
    }

    .realty-image {
      width: 250px;
      height: 200px;
      object-fit: fill;
    }
  }

  .realty-info {
    .realty-info--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .realty-general-info {
        .realty-name {
          h2 {
            font-size: 1.4rem;
            font-weight: bold;
          }
        }

        .realty-features {
          ul {
            display: flex;

            li {
              color: $text-secondary-color;

              &:not(:first-child)::before {
                content: " \f111";
                font: normal normal normal 7px/1 FontAwesome;
                vertical-align: middle;
                margin: 0 .3rem;
              }
            }
          }
        }
      }

      .host-link {
        img {
          width: 56px;
          height: 56px;
        }
      }
    }

    .realty-reserve {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: #0000001f 0 6px 16px;
      margin-bottom: 2rem;

      .realty-short-info {
        display: flex;
        justify-content: space-between;
      }

      .realty-reserve-button {
        a {
          text-align: center;
          display: inline-block;
          width: 100%;
        }
      }
    }

    .realty-description {
      margin-top: 1.5rem;

      .contact-host--link {
        font-size: 1.1rem;

        &:hover {
          color: $text-primary-color;
        }
      }
    }

    .realty-amenities {
      margin-top: 1.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .realty-amenity {
        color: $text-primary-color;
      }
    }

    .realty-reviews {
      margin-top: 1.5rem;

      .realty-rating {
        margin-bottom: 1.5rem;
        .text-rating {
          font-size: 1.3rem;
        }
      }

      .realty-review {
        .review-author {
          .author-profile {
            display: flex;
            margin-bottom: .8rem;

            a img {
              width: 56px;
              height: 56px;
            }

            .review-content--right {
              margin-left: 1rem;
              p {
                margin-bottom: 0;
              }
              .review-date {
                color: $text-secondary-color;
              }
            }
          }
        }
      }
    }

    .realty-location {
      margin-top: 1.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .realty-host-info {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr auto;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .realty-host {
        .host-profile {
          margin-bottom: .8rem;
          display: flex;

          a img {
            width: 56px;
            height: 56px;
          }

          .host-content--right {
            margin-left: 1rem;
            p {
              margin-bottom: 0;
            }
            .host-joined-date {
              color: $text-secondary-color;
            }
          }
        }

        .host-reviews {
          margin-bottom: 1.2rem;
        }

        .host-description {
          margin-bottom: 2rem;
        }
      }
    }
  }
}


// Realty form
// Image previews
.image-form-group {
  display: flex;
  flex-direction: row;
  background-color: #efefef;
  margin-top: 2rem;
  margin-bottom: .9rem;
  padding: 1rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: #0000001f 0 6px 16px;

  .image-upload {
    position: relative;
    max-width: 90%;
    margin: 50px auto;

    p {
      position: absolute;
      z-index: 1;
      top: -25px;
      left: 10px;

      & input {
        display: none;
        width: 90%;
        background-color: #f1f1f1;
        border-color: #d6d6d6;
        color: #757575;
        position: absolute;
        top: -20px;
        left: 0;
        text-align: center;
        margin: auto;
        z-index: -2;
      }

      & label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        & i {
          color: #757575;
          text-align: center;
          margin: 0 auto;
        }

        &:hover {
          background-color: #f1f1f1;
          border-color: #d6d6d6;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .image-preview {
      width: 145px;
      height: 145px;
      position: relative;
      border-radius: 10px;
      border: 6px solid #f8f8f8;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

      & > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


// Login page
.login-page {
  .reset-password {
    margin-top: 1rem;

    a {
      color: $text-primary-color;
      text-decoration: underline;
    }
  }
}

// Accounts
.account-settings {
  .account--header {
    margin-top: 3rem;
    margin-bottom: 2.5rem;

    h1 {
      font-size: 2rem;
    }

    .general-info {
      display: flex;
      justify-content: flex-start;

      .general-info--item:not(:last-child)::after {
        content: "\f111";
        font: normal normal normal 7px/1 FontAwesome;
        vertical-align: middle;
        margin-left: .25rem;
        margin-right: .35rem;
      }

      .user--name {
        font-weight: bolder;
      }

      .user--profile-link {
        color: $secondary-color;
        font-weight: bolder;
      }
    }

    .account--cards {
      a.account-card--link {
        display: block;
        text-decoration: none !important;
      }

      .row {
        flex-wrap: wrap;

        & > [class*='col-'] .card--base {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  [class*='col-'] {
    margin-bottom: 1.5rem !important;
  }

  a.account-card--link:hover, .account-card:hover {
    text-decoration: none !important;
  }
}


// Personal info settings
.account--personal-info, .account--security {
  .personal-info--header, .security--header {
    .account--links {
      .account--link a {
        color: $text-primary-color;
      }

      .account--link:not(:last-child)::after {
        content: "\f054";
        font: normal normal normal 7px/1 FontAwesome;
        font-size: .8rem;
        vertical-align: middle;
        margin-left: .25rem;
        margin-right: .35rem;
      }
    }

    h1 {
      margin-top: .6rem;
      font-size: 2rem;
    }
  }

  .personal-info--settings, .security--settings {
    .personal-info--form, .security--form {
      margin-top: 2rem;

      form {
        max-width: 70%;
        display: flex;
        flex-flow: row wrap;

        & > .form-group {
          flex: 1 100% !important;
        }

        .form-group {
          display: flex !important;
          flex-direction: column !important;

          &:not(:last-child) {
            margin-bottom: 1rem !important;
          }

          &:nth-child(-n+3) {
            flex: 2 0 !important;
          }
          &:nth-child(-n+2) {
            margin-right: .8rem !important;
          }

          input, select {
            padding: 1.4rem 1rem;
            color: #484848 !important;
            border: 1px solid #ebebeb !important;
            border-radius: 4px !important;

            &:focus {
              border-color: $secondary-color !important;
            }
          }

          select {
            padding: .69rem 1rem;
            height: 120%;
          }
        }
      }
    }

    .security--form {
      form {
        .form-group {
          flex: 1 100% !important;

          &:nth-child(-n+3) {
            flex: 1 100% !important;
          }
        }
      }
    }

  }
}


// Profile - show
.profile-show {
  margin-top: 2.5rem;
  display: flex;

  .profile-card {
    flex: 1;
    height: 100%;
    margin-right: 3.5rem;
    padding: 2rem;
    border: 1px solid #DDDDDD !important;
    border-radius: 12px;

    .profile-photo {
      text-align: center;

      a {
        margin-top: .4rem;
        display: block;
        text-decoration: underline;

        &:hover {
          color: $text-primary-color;
        }
      }
    }

    .profile-reviews-count {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      span {
        font-weight: bolder;
      }
    }

    .confirmed-details {
      margin-top: 1.5rem;
      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }

      .confirmed-detail {
        span.check-icon {
          margin-right: .4rem;
        }
      }
    }
  }

  .profile-info {
    flex: 2;
    max-width: 66%;

    h2 {
      font-size: 1.4rem;
      font-weight: bolder;
    }

    .profile-header {
      h1 {
        font-size: 2.2rem;
        margin-bottom: .1rem;
      }

      p.joined-date {
        margin-bottom: .3rem;
      }

      a {
        color: $text-primary-color;
        text-decoration: underline;
      }
    }

    .about-section {
      margin-top: 2.5rem;
      margin-bottom: 1.7rem;
    }

    .listings-section {
      margin-top: 1.7rem;
      margin-bottom: 1.7rem;

      .listings {
        margin-top: 1.5rem;

        .splide__pagination {
          bottom: -1.2em;
        }
        .splide__arrow {
          background-color: $text-hover-color;
          top: 7rem
        }
        .splide__pagination__page {
          &.is-active {
            background-color: $primary-color;
          }
        }

        .listing {
          img {
            border-radius: 12px;
          }

          .listing-rating {
            margin-top: .5rem;
          }

          .listing-details {
            .listing-link {
              color: $text-primary-color;
            }

            .listing-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .reviews-section {
      margin-top: 1.7rem;
      margin-bottom: 1.7rem;

      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;

        span:first-child {
          margin-right: .4rem;
        }
      }

      .reviews {
        margin-top: 1.5rem;

        .review {
          margin-top: 2rem;

          .review-header {
            display: flex;
            justify-content: space-between;

            .review-realty-name {
              p {
                font-size: 1.1rem;
                font-weight: bolder;
                margin-bottom: 0;
              }
            }

            .review-date {
              p {
                margin-bottom: .5rem;
              }
            }

            .review-realty-image {
              img {
                border-radius: 8px;
              }
            }
          }

          .review-author {
            display: flex;

            .author-profile-image {
              margin-right: 1rem;
            }

            .author-info {
              .author-name {
                font-weight: bolder;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}


// Profile - Edit image
.edit-image, .edit-description {
  .edit-image--header, .edit-description--header {
    .profile--links {
      .profile--link a {
        color: $text-primary-color;
      }

      .profile--link:not(:last-child)::after {
        content: "\f054";
        font: normal normal normal 7px/1 FontAwesome;
        font-size: .8rem;
        vertical-align: middle;
        margin-left: .25rem;
        margin-right: .35rem;
      }
    }

    h1 {
      margin-top: .6rem;
      font-size: 2rem;
    }
  }

  .profile-image--form {
    .image-group {
      display: flex;

      .image-preview {
        margin-right: 2rem;
      }

      .form-group {
        label:first-child {
          display: none;
        }

        a {
          margin-bottom: .5rem;

          &:after {
            content: ' ';
            display: block;
          }
        }
      }
    }

    .image-preview {
      width: 145px;
      height: 145px;
      position: relative;
      border-radius: 10px;
      border: 6px solid #f8f8f8;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

      #profile-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


@media screen and (max-width: 770px){
  .realty-list {
    .realty {
      .realty-card {
        display: grid;
        grid-template-areas:
                "image"
                "save"
                "description";

        .realty-card--image {
          grid-area: image;

          margin-right: 0;
          margin-bottom: 1rem;

          img {
            width: 100%;
            height: 350px;
          }
        }

        .realty-card-save {
          grid-area: save;

          margin-left: 0;
          display: flex;
          align-content: center;
          justify-content: flex-end;

          a {
            color: $text-primary-color;
            border-radius: 100%;
            padding: 0;
            margin-top: .25rem;
          }

          a:hover {
            background: none;
          }
        }

        .realty-card--description {
          grid-area: description;
        }
      }
    }
  }

  .form-group.flex--between {
    max-width: 100%;
  }

  .profile-show {
    display: block;

    .profile-card {
      margin-right: 0;
      margin-bottom: 2rem;
      padding: 0;
      border: none !important;
    }

    .profile-info {
      max-width: 100%;

      .listings-section {
        .listing {
          img {
            width: 90%;
          }
        }
      }
    }
  }
}

