{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}
    {% if is_creating_new_realty %}
        New realty
    {% else %}
        Edit realty
    {% endif %}
     &bull; Airbnb
{% endblock %}

{% block content %}
    {% if is_creating_new_realty %}
        <h1>Create new realty</h1>
    {% else %}
        <h1>Edit your realty</h1>
    {% endif %}


    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form realty_form %}
        {% bootstrap_form address_form %}

        <div class="image-form-group">
            {{ realty_image_formset.management_form }}

            {% for image_form in realty_image_formset %}
                {{ image_form.id }}
                <div class="image-upload">
                    {{ image_form.as_p }}
                    <div class="image-preview">
                        {% if is_new_realty %}
                            <div id="image-{{ forloop.counter0 }}"
                                 style='background: url("{% static 'realty/images/default/realty_image_placeholder.png' %}")'>
                            </div>
                        {% else %}
                            {% for realty_image in realty_images %}
                                {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                    <div id="image-{{ forloop.parentloop.counter0 }}"
                                         data-id="{{ realty_image.id }}"
                                         style='background: url("{{ realty_image.image.url }}") no-repeat; background-size: 100% 100%'>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <input type="submit" value="Save">
    </form>
{% endblock %}


{% block domready %}


    // Change label text
    $('.image-upload p label').each(function () {
        $(this).html($('<i class="fas fa-cloud-upload-alt"></i>'));
    });

    const imagePreviewsDom = $('.image-preview');
    let imagesDom = $('div[id^=image-]');
    const imageInputsDom = $('input[name*=-image]');

    imagePreviewsDom.each(function (index) {
        if (imagesDom.size !== {{ max_realty_images_count }}) {
            if ($(this).find($('div[id^=image-]')).length !== 1) {
                $(this).append(`<div id="image-${index}" style='background: url("{% static 'realty/images/default/realty_image_placeholder.png' %}")'></div>`);
            }
        }
    });

    imagesDom = $('div[id^=image-]');

    function readURL(input, index) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                $(imagesDom[index]).css('background-image', 'url('+e.target.result +')');
                $(imagesDom[index]).css('background-size', '100% 100%');
                $(imagesDom[index]).hide();
                $(imagesDom[index]).fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    imageInputsDom.each(function (index) {
        $(this).change(function() {
            readURL(this, index);
        });
    });

    const customNumberInputs = $('.input-number--custom-field');
    customNumberInputs.each(function () {
        $(this).wrap('<div class="input-number--custom-wrapper"></div>');
        $(this).parent().parent().addClass('flex--between');

        $(this).before('<button class="input-number--subtract" type="button">-</button>');
        $(this).after('<button class="input-number--add" type="button">+</button>');
    });


    const realtyFilterButtonsSubtract = $('.input-number--subtract');
    const realtyFilterButtonsAdd = $('.input-number--add');
    const realtyFilterInputs = $('.input-number--custom-wrapper input');


    function getInputDataFromContext(context) {
        const inputEl = $(context).siblings('input');
        return {
            element: inputEl,
            value: parseInt(inputEl.val()),
            minValue: inputEl.attr('min'),
            maxValue: inputEl.attr('max'),
        };
    }

    realtyFilterButtonsSubtract.each(function () {
        $(this).click(function () {
            const inputData = getInputDataFromContext($(this));
            const inputValue = inputData["value"];

            if (inputValue - 1 > inputData["minValue"] - 1) inputData["element"].val(inputValue - 1);
        });
    });
    realtyFilterButtonsAdd.each(function () {
        $(this).click(function () {
            const inputData = getInputDataFromContext($(this));
            const inputValue = inputData["value"];

            if (inputValue + 1 <= inputData["maxValue"]) inputData["element"].val(inputValue + 1);
        });
    });
    realtyFilterInputs.each(function () {
        $(this).keypress(function (e) {
            return false;
        });
    });


    // js - sortable
    {% if not is_creating_new_realty %}
        $('.image-form-group').sortable({
            stop: function (event, ui) {
                const imagesOrder = {};
                $('.image-form-group div[id^=image-]').each(function () {

                    const images = $('.image-upload');
                    const currentImage = $(this).closest('.image-preview').closest('.image-upload');

                    // associate the image's id with its order
                    imagesOrder[$(this).data('id')] = images.index(currentImage);
                });
                $.ajax({
                    type: 'POST',
                    url: "{% url 'realty:image_change_order' %}",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(imagesOrder)
                });
            }
        });
    {% endif %}

{% endblock %}

