{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ city }} &bull; Stays &bull; airbnb
{% endblock %}

{% block content %}
    <div class="realty-list">
        <div class="header mb-3">
            <p class="color-secondary">{{ realty_count }}+ stay{{ realty_count|pluralize }}</p>
            <h1>Stays in {{ city }}</h1>
        </div>

        <div class="filter-row">
            <div class="filter--dropdown" id="filters-type--dropdown">
                <button class="button-filter" id="realty-type--btn">
                    <span>Type of place</span>
                </button>
                <form action="{% url 'realty:all_by_city' city_slug=city|slugify %}" class="property-filter--form hidden" method="get">
                    {{ realty_type_form.as_p }}

                    <hr class="form-footer--divider">
                    <div class="form-footer">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>

        <div class="realty">
            {% for realty in realty_list %}
                <div class="realty-card">
                    <div class="realty-card--image">
                        <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                            {% if realty.images.exists %}
                                <img src="{{ realty.images.first.image.url }}"
                                     width="300" height="200" alt="Realty image">
                            {% else %}
                                <img src="{% static 'realty/images/default/realty_image_placeholder.png' %}"
                                     width="300" height="200" alt="Realty image">
                            {% endif %}
                        </a>
                    </div>
                    <div class="realty-card--description">
                        <div class="realty-card--name">
                            <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                                <p class="realty-card--short-description color-secondary mb-0">
                                    {{ realty.realty_type }} in {{ realty.location.street }}
                                </p>
                            </a>
                            <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}"><h4>{{ realty.name }}</h4></a>
                        </div>
                        <hr class="divider--short">
                        <div class="realty-card--properties">
                            <ul class="rooms color-secondary">
                                {% with max_guests_count=realty.max_guests_count  %}
                                    <li>{{ max_guests_count }} guest{{ max_guests_count|pluralize }}</li>
                                {% endwith %}
                                {% with beds_count=realty.beds_count  %}
                                    <li>{{ beds_count }} bed{{ beds_count|pluralize }}</li>
                                {% endwith %}
                            </ul>
                            <ul class="amenities color-secondary">
                                {% for amenity in realty.amenities.all %}
                                    <li>{{ amenity.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="realty-card--footer">
                            <div class="realty-price">
                                <span class="price">{{ realty.price_per_night }}$</span> / night
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block domready %}
    $('.realty-card').before('<hr>');
    $('.form-section').before('<hr>');

    const realtyTypeBtn = $('#realty-type--btn');
    const realtyTypeForm = realtyTypeBtn.siblings('form');


    realtyTypeBtn.click(
        function (e) {
            realtyTypeForm.toggleClass('hidden');
            e.stopPropagation();
        }
    );
    realtyTypeForm.click(function (e) {
        e.stopPropagation();
    });

    $('body').click(function () {
        if (!realtyTypeForm.hasClass('hidden')) realtyTypeForm.toggleClass('hidden');
    });

    document.addEventListener(
        'keydown',
        function (event) {
            if (event.key === 'Escape') {
                if (!realtyTypeForm.hasClass('hidden')) realtyTypeForm.toggleClass('hidden');
            }
        }
    );
{% endblock %}

