{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ city }} &bull; Stays &bull; Airbnb
{% endblock %}

{% block meta_tags %}
    <meta property="og:title" content="{{ city }} | Stays | Airbnb">
    <meta name="description" property="og:description" content="{{ meta_description }}">
    <meta property="og:url" content="{{ ABSOLUTE_URL }}">
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block content %}
    <div class="realty-list">
        <div class="header mb-3">
            <p class="color-secondary">{{ realty_count }}+ stay{{ realty_count|pluralize }}</p>
            <h1>Stays in {{ city }}</h1>
        </div>

        <div class="filter-row">
            <div class="filter--dropdown" id="filters-type--dropdown">
                <button class="button-filter" id="realty-type--btn">
                    <span>Type of place</span>
                </button>
                <form action="{% url 'realty:all_by_city' city_slug=city|slugify %}"
                      class="realty-filter--form hidden" method="get">
                    {{ realty_type_form.as_p }}

                    <hr class="form-footer--divider">
                    <div class="form-footer">
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
            <div class="filter--dropdown" id="filters-all--dropdown">
                <button class="button-filter" id="realty-filters-all--btn">
                    <span>More filters</span>
                </button>
            </div>
        </div>

        {# TODO: изменить форму #}
        <div class="filter-popup hidden">
            <button class="close-popup">&times;</button>
            <div class="popup-header">
                <h3>More filters</h3>
            </div>
            <form action="" class="property-filter-all--form">
                <div class="form-section" id="section--rooms">
                    <div class="form-section--header">
                        <h2>Rooms and beds</h2>
                    </div>
                    <div class="form-input">
                        <label for="input--beds-count">Beds</label>
                        <div class="input-number--select">
                            <button class="input-number--subtract" type="button">-</button>
                            <input type="number" min="0" value="1" max="8" id="input--beds-count">
                            <button class="input-number--add" type="button">+</button>
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="input--rooms-count">Rooms</label>
                        <div class="input-number--select">
                            <button class="input-number--subtract" type="button">-</button>
                            <input type="number" min="0" value="1" max="8" id="input--rooms-count">
                            <button class="input-number--add" type="button">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-section" id="section--amenities">
                    <div class="form-section--header">
                        <h2>Amenities</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input">
                                <input type="checkbox" value="apartments" id="realty-amenity--kitchen">
                                <label for="realty-amenity--kitchen">Kitchen</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input">
                                <input type="checkbox" value="apartments" id="realty-amenity--washer">
                                <label for="realty-amenity--washer">Washer</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input">
                                <input type="checkbox" value="apartments" id="realty-amenity--wifi">
                                <label for="realty-amenity--wifi">Wifi</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input">
                                <input type="checkbox" value="apartments" id="realty-amenity--breakfast">
                                <label for="realty-amenity--breakfast">Breakfast</label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="form-footer--divider">
                <div class="form-footer">
                    <input type="submit" value="Show places">
                </div>
            </form>
        </div>
        <div class="realty">
            {% for realty in realty_list %}
                <div class="realty-card">
                    <div class="realty-card--image">
                        <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                            {% if realty.images.exists %}
                                <img src="{{ realty.images.first.image.url }}"
                                     width="300" height="200" alt="Realty image">
                            {% else %}
                                <img src="{% static 'realty/images/default/realty_image_placeholder.png' %}"
                                     width="300" height="200" alt="Realty image">
                            {% endif %}
                        </a>
                    </div>
                    <div class="realty-card--description">
                        <div class="realty-card--name">
                            <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                                <p class="realty-card--short-description color-secondary mb-0">
                                    {{ realty.realty_type }} in {{ realty.location.street }}
                                </p>
                            </a>
                            <a href="{% url 'realty:detail' pk=realty.id slug=realty.slug %}"><h4>{{ realty.name }}</h4></a>
                        </div>
                        <hr class="divider--short">
                        <div class="realty-card--properties">
                            <ul class="rooms color-secondary">
                                {% with max_guests_count=realty.max_guests_count  %}
                                    <li>{{ max_guests_count }} guest{{ max_guests_count|pluralize }}</li>
                                {% endwith %}
                                {% with beds_count=realty.beds_count  %}
                                    <li>{{ beds_count }} bed{{ beds_count|pluralize }}</li>
                                {% endwith %}
                            </ul>
                            <ul class="amenities color-secondary">
                                {% for amenity in realty.amenities.all %}
                                    <li>{{ amenity.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="realty-card--footer">
                            <div class="realty-price">
                                <span class="price">{{ realty.price_per_night }}$</span> / night
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block domready %}

    // Realty filter form - checkboxes
    const filterCheckboxes = $('.realty-filter--form').find('input[type="checkbox"]');

    const search = window.location.search.slice(1).split('&');
    const realtyTypes = [];
    search.forEach(realtyType => realtyTypes.push(realtyType.split('=')[1]));

    filterCheckboxes.each(function () {
        if (realtyTypes.indexOf($(this).val()) >= 0) $(this).prop('checked', true);
    });


    $('.realty-card').before('<hr>');
    $('.form-section').before('<hr>');

    const realtyTypeBtn = $('#realty-type--btn');
    const realtyTypeForm = realtyTypeBtn.siblings('form');


    realtyTypeBtn.click(
        function (e) {
            realtyTypeForm.toggleClass('hidden');
            e.stopPropagation();
        }
    );
    realtyTypeForm.click(function (e) {
        e.stopPropagation();
    });

    $('body').click(function () {
        if (!realtyTypeForm.hasClass('hidden')) realtyTypeForm.toggleClass('hidden');
    });

    document.addEventListener(
        'keydown',
        function (event) {
            if (event.key === 'Escape') {
                if (!realtyTypeForm.hasClass('hidden')) realtyTypeForm.toggleClass('hidden');
            }
        }
    );

{% endblock %}
