{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load bootstrap4 %}


{% block head_title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>
            Please log in with one of your existing third party accounts.
            Or, <a href="{{ signup_url }}">sign up</a> for a  account and sign in below:
        </p>

        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
        <p>
            If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
        </p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-buttons">
            <input class="primaryAction button" type="submit" value="Log in">
            <a class="secondaryAction button button-dark" href="{% url 'account_reset_password' %}">Forgot password?</a>
        </div>
    </form>

{% endblock %}