<div id="live-chat">
    <header>
        <h4>
            <span class="chat-bot-header">Air Helper</span>
            <span class="close-chat-bot-btn"><i class="far fa-times-circle"></i></span>
        </h4>
    </header>

    <div class="chat">
        <div class="chat-history"></div>
        <hr>
        <div class="chat-bot-input">
            <input type="text" placeholder="Check available places" id="chat-bot-message-input">
            <span class="chat-bot-send-btn" id="chat-bot-message-submit"><i class="fas fa-paper-plane"></i></span>
        </div>
    </div>

</div>