{% load inlinecss %}

{% inlinecss 'accounts/css/emails.css' %}
    <html>
        <body>
            <div class="wrapper">
                <div class="email-content">
                    <h1 class="header-center">Verify your account</h1>
                    <p>
                        Thanks for signing up. Confirm your email address is {{ user.email }} to activate your {{ domain }} account:
                    </p>
                    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}"
                       class="confirm-button">
                        CONFIRM
                    </a>

                    <p>
                        Thanks,
                        <br>
                        {{ domain }} Team
                    </p>

                    <div class="email-sub-url">
                        <hr>
                        <p>If you're having trouble clicking the confirm button, copy and paste the URL below into your browser.</p>
                        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}">
                            {{ protocol }}://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}
                        </a>
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endinlinecss %}
