.brand-logo {
  color: #FF385C !important;
  font-size: 1.3rem;
  font-weight: bolder;
  display: flex; }
  .brand-logo i {
    font-size: 2rem;
    margin-right: .2rem; }

.color-secondary {
  color: #757987; }

hr.divider--short {
  color: #757987;
  width: 15%; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5; }

#content {
  margin-bottom: 1rem;
  padding-bottom: 1rem; }

.form-footer--divider {
  margin: .7rem 0 0; }

.form-footer {
  display: flex; }

a.button-primary {
  background-color: #FF385C;
  padding: .7rem 2rem;
  color: #fff;
  border-radius: 10px; }
  a.button-primary:hover {
    text-decoration: none; }

input[type='submit'], a.button-dark {
  margin-top: 1.3rem;
  padding: .3rem .8rem;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 10px; }
  input[type='submit']:hover, a.button-dark:hover {
    background-color: #000; }

a.button-light {
  background-color: #fff;
  color: #222;
  padding: .9rem 1.5rem;
  border: 1px solid #222;
  border-radius: 8px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  font-weight: 600; }
  a.button-light:hover {
    text-decoration: none;
    background-color: #aaadb73b; }

.form-buttons {
  display: flex; }
  .form-buttons .button {
    padding: .5rem 1rem;
    text-decoration: none; }
    .form-buttons .button:hover {
      text-decoration: none; }
    .form-buttons .button:not(:last-child) {
      margin-right: .8rem; }

a.icon {
  margin-right: .3rem; }
  a.icon:hover {
    text-decoration: none; }

.rating-star {
  color: #FF385C; }

.realty-rating .text-rating {
  color: #222;
  font-weight: bolder; }

.realty-rating .text-rating-count {
  color: #757987; }

.realty-price .price {
  color: #222;
  font-weight: bolder; }

li.page-item a.page-link {
  color: #222; }

li.page-item.active a.page-link {
  background-color: #FF385C;
  border-color: #FF385C; }

.form-group.flex--between {
  max-width: 30%;
  display: flex;
  justify-content: space-between; }

.input-number--custom-wrapper {
  display: inline-block;
  position: relative;
  width: 100px; }
  .input-number--custom-wrapper input[type="number"].input-number--custom-field {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    background: none; }
  .input-number--custom-wrapper input[type="number"]::-webkit-outer-spin-button, .input-number--custom-wrapper input[type="number"]::-webkit-inner-spin-button {
    display: none; }

.input-number--subtract, .input-number--add {
  background-color: #fff;
  color: #757987;
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #b0b0b0;
  font-size: 16px;
  font-weight: 600; }
  .input-number--subtract:hover, .input-number--add:hover {
    border-color: #222; }

.input-number--subtract {
  left: 1px;
  text-align: center; }

.input-number--add {
  right: 1px;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  height: 100%;
  color: #222;
  display: flex; }

h1, h2, h3, h4, h5, h6 {
  color: #222; }

h1 {
  font-size: 2.5rem;
  font-weight: 800; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 600; }

*:focus {
  outline: none !important;
  box-shadow: none !important; }

ul {
  list-style: none; }

input[type='checkbox'] {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin-right: .7rem; }
  input[type='checkbox']:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    background-color: white; }
  input[type='checkbox']:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 7px; }

.content-block {
  margin-top: 1.5rem; }

form input:focus, form select:focus, form textarea:focus {
  border-color: #222 !important; }

.navbar {
  padding-bottom: .7rem;
  padding-left: 0;
  background: none;
  box-shadow: 0px -3px 5px -5px rgba(34, 60, 80, 0.6) inset;
  margin-bottom: .9rem; }
  .navbar .search-form {
    margin-left: auto; }
    .navbar .search-form .search-field {
      border-radius: 15px;
      padding: 0 2rem; }
      .navbar .search-form .search-field:focus {
        border-color: #ff385c73; }
  .navbar .nav-links--right {
    margin-left: auto !important; }
    .navbar .nav-links--right .dropdown-menu {
      left: -50px; }
    .navbar .nav-links--right .link-host-signup {
      padding: .5rem;
      border-radius: 40px;
      margin-right: .7rem; }
      .navbar .nav-links--right .link-host-signup:hover {
        background-color: #aaadb73b; }
    .navbar .nav-links--right .dropdown-toggle:hover {
      background-color: #aaadb73b;
      border-radius: 40px; }
  .navbar .nav-link {
    color: #222 !important; }

.realty-explore {
  margin-top: 1.5rem; }
  .realty-explore h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.1; }
  .realty-explore .realty-city {
    margin-top: 1rem; }
    .realty-explore .realty-city a {
      text-decoration: none;
      display: grid;
      grid-template-columns: 5rem auto; }
    .realty-explore .realty-city .realty-city--image img {
      border-radius: 12px; }
    .realty-explore .realty-city .realty-city--description {
      display: flex;
      flex-direction: column; }
      .realty-explore .realty-city .realty-city--description .realty-city--name {
        font-weight: 600;
        color: #222; }
      .realty-explore .realty-city .realty-city--description .realty-city--distance {
        color: #757987; }

.filter-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10; }
  .filter-popup .close-popup {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 15px; }
  .filter-popup .popup-header {
    text-align: center; }
    .filter-popup .popup-header h3 {
      font-size: 1.2rem; }
  .filter-popup .form-section .form-section--header h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .filter-popup .form-section .form-input label {
    margin-left: .7rem; }
  .filter-popup .form-section#section--rooms label {
    margin: 0; }
  .filter-popup .form-section#section--rooms .form-input {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }

.realty-list .header p {
  margin-bottom: 0; }

.realty-list .filter-row {
  margin-top: 1.4rem;
  margin-bottom: 1.5rem; }
  .realty-list .filter-row .filter--dropdown {
    display: inline-block;
    position: relative; }
    .realty-list .filter-row .filter--dropdown .property-filter--form {
      position: absolute;
      margin-top: .7rem;
      background-color: #fff;
      padding: 1rem 3rem .9rem 1.2rem;
      border: 0.5px solid rgba(118, 118, 118, 0.28);
      border-radius: 10px;
      z-index: 2; }
      .realty-list .filter-row .filter--dropdown .property-filter--form p:first-child {
        display: none; }
      .realty-list .filter-row .filter--dropdown .property-filter--form ul#id_realty_type li {
        display: flex; }
        .realty-list .filter-row .filter--dropdown .property-filter--form ul#id_realty_type li label {
          display: flex;
          align-items: center; }
        .realty-list .filter-row .filter--dropdown .property-filter--form ul#id_realty_type li:not(:first-child) {
          margin-top: .5rem; }
    .realty-list .filter-row .filter--dropdown .button-filter {
      margin-right: .6rem;
      padding: .4rem .9rem;
      border-radius: 40px;
      border: 1px solid #b0b0b0;
      background-color: #fff;
      color: #222; }
      .realty-list .filter-row .filter--dropdown .button-filter:hover {
        border-color: #222; }

.realty-list .realty .realty-card {
  display: flex;
  height: 100%;
  margin-bottom: 1.5rem; }
  .realty-list .realty .realty-card:not(:first-child) {
    margin-top: 1.5rem; }
  .realty-list .realty .realty-card .realty-card--image {
    margin-right: 1rem; }
    .realty-list .realty .realty-card .realty-card--image img {
      border-radius: 12px; }
  .realty-list .realty .realty-card .realty-card--description {
    display: flex;
    flex-direction: column; }
    .realty-list .realty .realty-card .realty-card--description .realty-card--name a:hover {
      text-decoration: none !important; }
    .realty-list .realty .realty-card .realty-card--description .rooms {
      margin-bottom: 0; }
    .realty-list .realty .realty-card .realty-card--description hr.divider--short {
      margin: 0.2rem; }
    .realty-list .realty .realty-card .realty-card--description .rooms > li, .realty-list .realty .realty-card .realty-card--description .amenities > li {
      display: inline-block; }
    .realty-list .realty .realty-card .realty-card--description .rooms li:not(:last-child)::after, .realty-list .realty .realty-card .realty-card--description .amenities li:not(:last-child)::after {
      content: " \f111";
      font: normal normal normal 7px/1 FontAwesome;
      vertical-align: middle; }
  .realty-list .realty .realty-card .realty-card--footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between; }
    .realty-list .realty .realty-card .realty-card--footer .realty-price .price {
      color: #222;
      font-weight: bolder; }
  .realty-list .realty .realty-card .realty-card-save {
    margin-left: 1rem; }
    .realty-list .realty .realty-card .realty-card-save a {
      color: #222;
      padding: 0.2rem 0.65rem;
      border-radius: 100%;
      display: flex; }
      .realty-list .realty .realty-card .realty-card-save a span {
        font-size: 1.3rem;
        text-align: center; }
    .realty-list .realty .realty-card .realty-card-save a:hover {
      background-color: #aaadb73b; }

.realty-detail .realty-header {
  margin-top: 1.3rem; }
  .realty-detail .realty-header h1 {
    font-size: 1.8rem; }
  .realty-detail .realty-header .realty-header--footer {
    display: flex;
    justify-content: space-between; }
    .realty-detail .realty-header .realty-header--footer a.link {
      text-decoration: underline; }
    .realty-detail .realty-header .realty-header--footer .info--left ul li {
      color: #757987; }
      .realty-detail .realty-header .realty-header--footer .info--left ul li:not(:first-child)::before {
        content: " \f111";
        font: normal normal normal 7px/1 FontAwesome;
        vertical-align: middle;
        margin: 0 .3rem; }
      .realty-detail .realty-header .realty-header--footer .info--left ul li * {
        color: #757987; }
    .realty-detail .realty-header .realty-header--footer .info--right ul li * {
      color: #222; }
    .realty-detail .realty-header .realty-header--footer .info--left ul, .realty-detail .realty-header .realty-header--footer .info--right ul {
      display: flex; }
    .realty-detail .realty-header .realty-header--footer .realty-save {
      cursor: pointer;
      padding: .3rem .5rem;
      border-radius: 7px; }
      .realty-detail .realty-header .realty-header--footer .realty-save:hover {
        background-color: #aaadb73b; }

.realty-detail .realty-images {
  margin-bottom: 2.5rem;
  padding: 1.3rem 1.3rem 1.8rem;
  border: 1px solid #dddddd;
  border-radius: 12px;
  box-shadow: #0000001f 0 6px 16px; }
  .realty-detail .realty-images .splide__pagination {
    bottom: -1.2em; }
  .realty-detail .realty-images .splide__arrow {
    background-color: #aaadb73b; }
  .realty-detail .realty-images .splide__pagination__page.is-active {
    background-color: #FF385C; }
  .realty-detail .realty-images .realty-image {
    width: 250px;
    height: 200px;
    object-fit: fill; }

.realty-detail .realty-info .realty-info--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }
  .realty-detail .realty-info .realty-info--header .realty-general-info .realty-name h2 {
    font-size: 1.4rem;
    font-weight: bold; }
  .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul {
    display: flex; }
    .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul li {
      color: #757987; }
      .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul li:not(:first-child)::before {
        content: " \f111";
        font: normal normal normal 7px/1 FontAwesome;
        vertical-align: middle;
        margin: 0 .3rem; }
  .realty-detail .realty-info .realty-info--header .host-link img {
    width: 56px;
    height: 56px; }

.realty-detail .realty-info .realty-reserve {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: #0000001f 0 6px 16px;
  margin-bottom: 2rem; }
  .realty-detail .realty-info .realty-reserve .realty-short-info {
    display: flex;
    justify-content: space-between; }
  .realty-detail .realty-info .realty-reserve .realty-reserve-button a {
    text-align: center;
    display: inline-block;
    width: 100%; }

.realty-detail .realty-info .realty-description {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-description .contact-host--link {
    font-size: 1.1rem; }
    .realty-detail .realty-info .realty-description .contact-host--link:hover {
      color: #222; }

.realty-detail .realty-info .realty-amenities {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-amenities h3 {
    font-size: 1.5rem;
    font-weight: 500; }
  .realty-detail .realty-info .realty-amenities .realty-amenity {
    color: #222; }

.realty-detail .realty-info .realty-reviews {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-reviews .realty-rating {
    margin-bottom: 1.5rem; }
    .realty-detail .realty-info .realty-reviews .realty-rating .text-rating {
      font-size: 1.3rem; }
  .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile {
    display: flex;
    margin-bottom: .8rem; }
    .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile a img {
      width: 56px;
      height: 56px; }
    .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right {
      margin-left: 1rem; }
      .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right p {
        margin-bottom: 0; }
      .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right .review-date {
        color: #757987; }

.realty-detail .realty-info .realty-location {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-location h3 {
    font-size: 1.5rem;
    font-weight: 500; }

.realty-detail .realty-info .realty-host-info {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto; }
  .realty-detail .realty-info .realty-host-info h3 {
    font-size: 1.5rem;
    font-weight: 500; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-profile {
    margin-bottom: .8rem;
    display: flex; }
    .realty-detail .realty-info .realty-host-info .realty-host .host-profile a img {
      width: 56px;
      height: 56px; }
    .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right {
      margin-left: 1rem; }
      .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right p {
        margin-bottom: 0; }
      .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right .host-joined-date {
        color: #757987; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-reviews {
    margin-bottom: 1.2rem; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-description {
    margin-bottom: 2rem; }

.image-form-group {
  display: flex;
  flex-direction: row;
  background-color: #efefef;
  margin-top: 2rem;
  margin-bottom: .9rem;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 12px;
  box-shadow: #0000001f 0 6px 16px; }
  .image-form-group .image-upload {
    position: relative;
    max-width: 90%;
    margin: 50px auto; }
    .image-form-group .image-upload p {
      position: absolute;
      z-index: 1;
      top: -25px;
      left: 10px; }
      .image-form-group .image-upload p input {
        display: none;
        width: 90%;
        background-color: #f1f1f1;
        border-color: #d6d6d6;
        color: #757575;
        position: absolute;
        top: -20px;
        left: 0;
        text-align: center;
        margin: auto;
        z-index: -2; }
      .image-form-group .image-upload p label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .image-form-group .image-upload p label i {
          color: #757575;
          text-align: center;
          margin: 0 auto; }
        .image-form-group .image-upload p label:hover {
          background-color: #f1f1f1;
          border-color: #d6d6d6; }
      .image-form-group .image-upload p:first-child {
        margin-left: 0; }
    .image-form-group .image-upload .image-preview {
      width: 145px;
      height: 145px;
      position: relative;
      border-radius: 10px;
      border: 6px solid #f8f8f8;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
      .image-form-group .image-upload .image-preview > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

@media screen and (max-width: 770px) {
  .realty-list .realty .realty-card {
    display: grid;
    grid-template-areas: "image" "save" "description"; }
    .realty-list .realty .realty-card .realty-card--image {
      grid-area: image;
      margin-right: 0;
      margin-bottom: 1rem; }
      .realty-list .realty .realty-card .realty-card--image img {
        width: 100%;
        height: 350px; }
    .realty-list .realty .realty-card .realty-card-save {
      grid-area: save;
      margin-left: 0;
      display: flex;
      align-content: center;
      justify-content: flex-end; }
      .realty-list .realty .realty-card .realty-card-save a {
        color: #222;
        border-radius: 100%;
        padding: 0;
        margin-top: .25rem; }
      .realty-list .realty .realty-card .realty-card-save a:hover {
        background: none; }
    .realty-list .realty .realty-card .realty-card--description {
      grid-area: description; }
  .form-group.flex--between {
    max-width: 100%; } }
