.brand-logo {
  color: #FF385C !important;
  font-size: 1.3rem;
  font-weight: bolder;
  display: flex; }
  .brand-logo i {
    font-size: 2rem;
    margin-right: .2rem; }

.color-secondary {
  color: #757987; }

.account-dashboard--link {
  color: #008489; }
  .account-dashboard--link:hover {
    color: #008489; }

hr.divider--short {
  color: #757987;
  width: 15%; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5; }

#content {
  margin-bottom: 1rem;
  padding-bottom: 1rem; }

.form-footer--divider {
  margin: .7rem 0 0; }

.form-footer {
  display: flex; }

a.button-primary {
  background-color: #FF385C;
  padding: .7rem 2rem;
  color: #fff;
  border-radius: 10px; }
  a.button-primary:hover {
    text-decoration: none; }
  a.button-primary.button-secondary {
    background-color: #008489;
    border-radius: 4px;
    font-size: 1rem;
    padding: .7rem 1.3rem; }

input[type='submit'], a.button-dark {
  margin-top: 1.3rem;
  padding: .3rem .8rem;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 10px; }
  input[type='submit']:hover, a.button-dark:hover {
    background-color: #000; }
  input[type='submit'].button-secondary, a.button-dark.button-secondary {
    background-color: #008489;
    border-radius: 4px;
    font-size: 1rem;
    padding: .7rem 1.3rem; }

a.button-light {
  background-color: #fff;
  color: #222;
  padding: .9rem 1.5rem;
  border: 1px solid #222;
  border-radius: 8px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  font-weight: 600; }
  a.button-light:hover {
    text-decoration: none;
    background-color: #aaadb73b; }

.form-buttons {
  display: flex; }
  .form-buttons .button {
    padding: .5rem 1rem;
    text-decoration: none; }
    .form-buttons .button:hover {
      text-decoration: none; }
    .form-buttons .button:not(:last-child) {
      margin-right: .8rem; }

a.icon {
  margin-right: .3rem; }
  a.icon:hover {
    text-decoration: none; }

.rating-star {
  color: #FF385C; }

.realty-rating .text-rating {
  color: #222;
  font-weight: bolder; }

.realty-rating .text-rating-count {
  color: #757987; }

.realty-price .price {
  color: #222;
  font-weight: bolder; }

li.page-item a.page-link {
  color: #222; }

li.page-item.active a.page-link {
  background-color: #FF385C;
  border-color: #FF385C; }

.form-group.flex--between {
  max-width: 30%;
  display: flex;
  justify-content: space-between; }

.input-number--custom-wrapper {
  display: inline-block;
  position: relative;
  width: 100px; }
  .input-number--custom-wrapper input[type="number"].input-number--custom-field {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    background: none; }
  .input-number--custom-wrapper input[type="number"]::-webkit-outer-spin-button, .input-number--custom-wrapper input[type="number"]::-webkit-inner-spin-button {
    display: none; }

.input-number--subtract, .input-number--add {
  background-color: #fff;
  color: #757987;
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #b0b0b0;
  font-size: 16px;
  font-weight: 600; }
  .input-number--subtract:hover, .input-number--add:hover {
    border-color: #222; }

.input-number--subtract {
  left: 1px;
  text-align: center; }

.input-number--add {
  right: 1px;
  padding: 0; }

.card--base {
  box-shadow: #00000029 0 2px 8px;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  height: 100%; }
  .card--base .card--logo {
    font-size: 1.6rem;
    color: #008489;
    margin-bottom: 1rem; }
  .card--base .card--header {
    margin-bottom: .9rem; }
    .card--base .card--header h2 {
      font-weight: bold;
      font-size: 1.5rem; }
  .card--base .card--description {
    color: #222; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  min-height: 100%;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  color: #222; }

h1 {
  font-size: 2.5rem;
  font-weight: 800; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 600; }

*:focus {
  outline: none !important;
  box-shadow: none !important; }

ul {
  list-style: none; }

a.dropdown-item:active {
  background: #aaadb73b;
  color: #222; }

input[type='checkbox'] {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin-right: .7rem; }
  input[type='checkbox']:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    background-color: white; }
  input[type='checkbox']:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 7px; }

.content-block {
  margin-top: 1.5rem; }

form input:focus, form select:focus, form textarea:focus {
  border-color: #222 !important; }

#live-chat {
  bottom: 0;
  font-size: .85rem;
  right: 24px;
  position: fixed;
  width: 300px;
  z-index: 100; }
  #live-chat ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5; }
  #live-chat ::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5; }
  #live-chat ::-webkit-scrollbar-thumb {
    background-color: #000; }
  #live-chat p {
    margin: 0; }
  #live-chat header {
    background: #2c2f31;
    border-radius: 5px 5px 0 0;
    color: #fff !important;
    cursor: pointer;
    padding: 16px 24px; }
    #live-chat header h4 {
      font-size: 1.1rem;
      color: #fff;
      margin-bottom: 0 !important;
      display: flex;
      justify-content: space-between; }
    #live-chat header span.chat-bot-header:before {
      background: #1a8a34;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 8px;
      margin: 0 8px 0 0;
      width: 8px; }
  #live-chat .chat {
    display: none;
    background-color: #fff;
    border: 1px solid #2c2f31a8;
    padding: 1rem; }
    #live-chat .chat h5 {
      font-size: .9rem; }
    #live-chat .chat .chat-bot-input {
      display: flex; }
      #live-chat .chat .chat-bot-input input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: .9rem;
        padding: .45rem;
        outline: none;
        width: 100%; }
        #live-chat .chat .chat-bot-input input[type="text"]:focus {
          border-color: #727577ed; }
      #live-chat .chat .chat-bot-input .chat-bot-send-btn {
        margin-left: .3rem;
        cursor: pointer;
        display: flex;
        align-items: center; }
    #live-chat .chat .chat-history {
      height: 252px;
      overflow-y: scroll; }
      #live-chat .chat .chat-history .chat-message {
        padding: 10px 20px;
        border-radius: 4px;
        width: auto;
        margin: 10px 10px 0 0; }
        #live-chat .chat .chat-history .chat-message.message-bot {
          background: #efefef; }
        #live-chat .chat .chat-history .chat-message.message-user {
          background: #DCEDE0;
          color: #56A668; }
      #live-chat .chat .chat-history .chat-time {
        color: #736f6f;
        font-style: italic;
        font-size: 12px; }

.navbar {
  padding-bottom: .7rem;
  padding-left: 0;
  background: none;
  box-shadow: 0px -3px 5px -5px rgba(34, 60, 80, 0.6) inset;
  margin-bottom: .9rem; }
  .navbar .search-form {
    margin-left: auto; }
    .navbar .search-form .search-field {
      border-radius: 15px;
      padding: 0 2rem; }
      .navbar .search-form .search-field:focus {
        border-color: #ff385c73; }
  .navbar .nav-links--right {
    margin-left: auto !important; }
    .navbar .nav-links--right .dropdown-menu {
      left: -50px; }
    .navbar .nav-links--right .link-host-signup {
      padding: .5rem;
      border-radius: 40px;
      margin-right: .7rem; }
      .navbar .nav-links--right .link-host-signup:hover {
        background-color: #aaadb73b; }
    .navbar .nav-links--right .dropdown-toggle:hover {
      background-color: #aaadb73b;
      border-radius: 40px; }
  .navbar .nav-link {
    color: #222 !important; }

.page-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto; }

#content {
  padding: 0 !important; }

#main-footer {
  margin-top: 5rem;
  background-color: #fff;
  grid-row-start: 2;
  grid-row-end: 3; }

.realty-explore {
  margin-top: 1.5rem; }
  .realty-explore h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.1; }
  .realty-explore .realty-city {
    margin-top: 1rem; }
    .realty-explore .realty-city a {
      text-decoration: none;
      display: grid;
      grid-template-columns: 5rem auto; }
    .realty-explore .realty-city .realty-city--image img {
      border-radius: 12px; }
    .realty-explore .realty-city .realty-city--description {
      display: flex;
      flex-direction: column; }
      .realty-explore .realty-city .realty-city--description .realty-city--name {
        font-weight: 600;
        color: #222; }
      .realty-explore .realty-city .realty-city--description .realty-city--distance {
        color: #757987; }

.filter-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10; }
  .filter-popup .close-popup {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 15px; }
  .filter-popup .popup-header {
    text-align: center; }
    .filter-popup .popup-header h3 {
      font-size: 1.2rem; }
  .filter-popup .form-section .form-section--header h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .filter-popup .form-section .form-input label {
    margin-left: .7rem; }
  .filter-popup .form-section#section--rooms label {
    margin: 0; }
  .filter-popup .form-section#section--rooms .form-input {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }

.realty-list .header p {
  margin-bottom: 0; }

.realty-list .filter-row {
  margin-top: 1.4rem;
  margin-bottom: 1.5rem; }
  .realty-list .filter-row .filter--dropdown {
    display: inline-block;
    position: relative; }
    .realty-list .filter-row .filter--dropdown .realty-filter--form {
      position: absolute;
      margin-top: .7rem;
      background-color: #fff;
      padding: 1rem 3rem .9rem 1.2rem;
      border: 0.5px solid rgba(118, 118, 118, 0.28);
      border-radius: 10px;
      z-index: 2; }
      .realty-list .filter-row .filter--dropdown .realty-filter--form p:first-child {
        display: none; }
      .realty-list .filter-row .filter--dropdown .realty-filter--form ul#id_realty_type li {
        display: flex; }
        .realty-list .filter-row .filter--dropdown .realty-filter--form ul#id_realty_type li label {
          display: flex;
          align-items: center; }
        .realty-list .filter-row .filter--dropdown .realty-filter--form ul#id_realty_type li:not(:first-child) {
          margin-top: .5rem; }
    .realty-list .filter-row .filter--dropdown .button-filter {
      margin-right: .6rem;
      padding: .4rem .9rem;
      border-radius: 40px;
      border: 1px solid #b0b0b0;
      background-color: #fff;
      color: #222; }
      .realty-list .filter-row .filter--dropdown .button-filter:hover {
        border-color: #222; }

.realty-list .realty .realty-card {
  display: flex;
  height: 100%;
  margin-bottom: 1.5rem; }
  .realty-list .realty .realty-card:not(:first-child) {
    margin-top: 1.5rem; }
  .realty-list .realty .realty-card .realty-card--image {
    margin-right: 1rem;
    width: 300px;
    height: 200px; }
    .realty-list .realty .realty-card .realty-card--image img {
      border-radius: 12px;
      width: 300px;
      height: 200px;
      object-fit: fill; }
  .realty-list .realty .realty-card .realty-card--description {
    display: flex;
    flex-direction: column; }
    .realty-list .realty .realty-card .realty-card--description .realty-card--name a:hover {
      text-decoration: none !important; }
    .realty-list .realty .realty-card .realty-card--description .rooms {
      margin-bottom: 0; }
    .realty-list .realty .realty-card .realty-card--description hr.divider--short {
      margin: 0.2rem; }
    .realty-list .realty .realty-card .realty-card--description .rooms > li, .realty-list .realty .realty-card .realty-card--description .amenities > li {
      display: inline-block; }
    .realty-list .realty .realty-card .realty-card--description .rooms li:not(:last-child)::after, .realty-list .realty .realty-card .realty-card--description .amenities li:not(:last-child)::after {
      content: " \f111";
      font: normal normal normal 7px/1 FontAwesome;
      vertical-align: middle; }
  .realty-list .realty .realty-card .realty-card--footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between; }
    .realty-list .realty .realty-card .realty-card--footer .realty-price .price {
      color: #222;
      font-weight: bolder; }
  .realty-list .realty .realty-card .realty-card-save {
    margin-left: 1rem; }
    .realty-list .realty .realty-card .realty-card-save a {
      color: #222;
      padding: 0.2rem 0.65rem;
      border-radius: 100%;
      display: flex; }
      .realty-list .realty .realty-card .realty-card-save a span {
        font-size: 1.3rem;
        text-align: center; }
    .realty-list .realty .realty-card .realty-card-save a:hover {
      background-color: #aaadb73b; }

.realty-detail .realty-header {
  margin-top: 1.3rem; }
  .realty-detail .realty-header h1 {
    font-size: 1.8rem; }
  .realty-detail .realty-header .realty-header--footer {
    display: flex;
    justify-content: space-between; }
    .realty-detail .realty-header .realty-header--footer a.link {
      text-decoration: underline; }
    .realty-detail .realty-header .realty-header--footer .info--left ul li {
      color: #757987; }
      .realty-detail .realty-header .realty-header--footer .info--left ul li:not(:first-child)::before {
        content: " \f111";
        font: normal normal normal 7px/1 FontAwesome;
        vertical-align: middle;
        margin: 0 .3rem; }
      .realty-detail .realty-header .realty-header--footer .info--left ul li * {
        color: #757987; }
    .realty-detail .realty-header .realty-header--footer .info--right ul li * {
      color: #222; }
    .realty-detail .realty-header .realty-header--footer .info--left ul, .realty-detail .realty-header .realty-header--footer .info--right ul {
      display: flex; }
    .realty-detail .realty-header .realty-header--footer .realty-save {
      cursor: pointer;
      padding: .3rem .5rem;
      border-radius: 7px; }
      .realty-detail .realty-header .realty-header--footer .realty-save:hover {
        background-color: #aaadb73b; }

.realty-detail .realty-images {
  margin-bottom: 2.5rem;
  padding: 1.3rem 1.3rem 1.8rem;
  border: 1px solid #dddddd;
  border-radius: 12px;
  box-shadow: #0000001f 0 6px 16px; }
  .realty-detail .realty-images .splide__pagination {
    bottom: -1.2em; }
  .realty-detail .realty-images .splide__arrow {
    background-color: #aaadb73b; }
  .realty-detail .realty-images .splide__pagination__page.is-active {
    background-color: #FF385C; }
  .realty-detail .realty-images .realty-image {
    width: 250px;
    height: 200px;
    object-fit: fill; }

.realty-detail .realty-info .realty-info--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }
  .realty-detail .realty-info .realty-info--header .realty-general-info .realty-name h2 {
    font-size: 1.4rem;
    font-weight: bold; }
  .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul {
    display: flex; }
    .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul li {
      color: #757987; }
      .realty-detail .realty-info .realty-info--header .realty-general-info .realty-features ul li:not(:first-child)::before {
        content: " \f111";
        font: normal normal normal 7px/1 FontAwesome;
        vertical-align: middle;
        margin: 0 .3rem; }
  .realty-detail .realty-info .realty-info--header .host-link img {
    width: 56px;
    height: 56px; }

.realty-detail .realty-info .realty-reserve {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: #0000001f 0 6px 16px;
  margin-bottom: 2rem; }
  .realty-detail .realty-info .realty-reserve .realty-short-info {
    display: flex;
    justify-content: space-between; }
  .realty-detail .realty-info .realty-reserve .realty-reserve-button a {
    text-align: center;
    display: inline-block;
    width: 100%; }

.realty-detail .realty-info .realty-description {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-description .contact-host--link {
    font-size: 1.1rem; }
    .realty-detail .realty-info .realty-description .contact-host--link:hover {
      color: #222; }

.realty-detail .realty-info .realty-amenities {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-amenities h3 {
    font-size: 1.5rem;
    font-weight: 500; }
  .realty-detail .realty-info .realty-amenities .realty-amenity {
    color: #222; }

.realty-detail .realty-info .realty-reviews {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-reviews .realty-rating {
    margin-bottom: 1.5rem; }
    .realty-detail .realty-info .realty-reviews .realty-rating .text-rating {
      font-size: 1.3rem; }
  .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile {
    display: flex;
    margin-bottom: .8rem; }
    .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile a img {
      width: 56px;
      height: 56px; }
    .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right {
      margin-left: 1rem; }
      .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right p {
        margin-bottom: 0; }
      .realty-detail .realty-info .realty-reviews .realty-review .review-author .author-profile .review-content--right .review-date {
        color: #757987; }

.realty-detail .realty-info .realty-location {
  margin-top: 1.5rem; }
  .realty-detail .realty-info .realty-location h3 {
    font-size: 1.5rem;
    font-weight: 500; }

.realty-detail .realty-info .realty-host-info {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto; }
  .realty-detail .realty-info .realty-host-info h3 {
    font-size: 1.5rem;
    font-weight: 500; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-profile {
    margin-bottom: .8rem;
    display: flex; }
    .realty-detail .realty-info .realty-host-info .realty-host .host-profile a img {
      width: 56px;
      height: 56px; }
    .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right {
      margin-left: 1rem; }
      .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right p {
        margin-bottom: 0; }
      .realty-detail .realty-info .realty-host-info .realty-host .host-profile .host-content--right .host-joined-date {
        color: #757987; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-reviews {
    margin-bottom: 1.2rem; }
  .realty-detail .realty-info .realty-host-info .realty-host .host-description {
    margin-bottom: 2rem; }

.image-form-group {
  display: flex;
  flex-direction: row;
  background-color: #efefef;
  margin-top: 2rem;
  margin-bottom: .9rem;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 12px;
  box-shadow: #0000001f 0 6px 16px; }
  .image-form-group .image-upload {
    position: relative;
    max-width: 90%;
    margin: 50px auto; }
    .image-form-group .image-upload p {
      position: absolute;
      z-index: 1;
      top: -25px;
      left: 10px; }
      .image-form-group .image-upload p input {
        display: none;
        width: 90%;
        background-color: #f1f1f1;
        border-color: #d6d6d6;
        color: #757575;
        position: absolute;
        top: -20px;
        left: 0;
        text-align: center;
        margin: auto;
        z-index: -2; }
      .image-form-group .image-upload p label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .image-form-group .image-upload p label i {
          color: #757575;
          text-align: center;
          margin: 0 auto; }
        .image-form-group .image-upload p label:hover {
          background-color: #f1f1f1;
          border-color: #d6d6d6; }
      .image-form-group .image-upload p:first-child {
        margin-left: 0; }
    .image-form-group .image-upload .image-preview {
      width: 145px;
      height: 145px;
      position: relative;
      border-radius: 10px;
      border: 6px solid #f8f8f8;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
      .image-form-group .image-upload .image-preview > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }

.login-page .reset-password {
  margin-top: 1rem; }
  .login-page .reset-password a {
    color: #222;
    text-decoration: underline; }

.account-settings .account--header {
  margin-top: 3rem;
  margin-bottom: 2.5rem; }
  .account-settings .account--header h1 {
    font-size: 2rem; }
  .account-settings .account--header .general-info {
    display: flex;
    justify-content: flex-start; }
    .account-settings .account--header .general-info .general-info--item:not(:last-child)::after {
      content: "\f111";
      font: normal normal normal 7px/1 FontAwesome;
      vertical-align: middle;
      margin-left: .25rem;
      margin-right: .35rem; }
    .account-settings .account--header .general-info .user--name {
      font-weight: bolder; }
    .account-settings .account--header .general-info .user--profile-link {
      color: #008489;
      font-weight: bolder; }
  .account-settings .account--header .account--cards a.account-card--link {
    display: block;
    text-decoration: none !important; }
  .account-settings .account--header .account--cards .row {
    flex-wrap: wrap; }
    .account-settings .account--header .account--cards .row > [class*='col-'] .card--base {
      display: flex;
      flex-direction: row; }

.account-settings [class*='col-'] {
  margin-bottom: 1.5rem !important; }

.account-settings a.account-card--link:hover, .account-settings .account-card:hover {
  text-decoration: none !important; }

.account--personal-info .personal-info--header .account--links .account--link a, .account--personal-info .security--header .account--links .account--link a, .account--personal-info .confirm-phone--header .account--links .account--link a, .account--security .personal-info--header .account--links .account--link a, .account--security .security--header .account--links .account--link a, .account--security .confirm-phone--header .account--links .account--link a, .account--confirm-phone .personal-info--header .account--links .account--link a, .account--confirm-phone .security--header .account--links .account--link a, .account--confirm-phone .confirm-phone--header .account--links .account--link a {
  color: #222; }

.account--personal-info .personal-info--header .account--links .account--link:not(:last-child)::after, .account--personal-info .security--header .account--links .account--link:not(:last-child)::after, .account--personal-info .confirm-phone--header .account--links .account--link:not(:last-child)::after, .account--security .personal-info--header .account--links .account--link:not(:last-child)::after, .account--security .security--header .account--links .account--link:not(:last-child)::after, .account--security .confirm-phone--header .account--links .account--link:not(:last-child)::after, .account--confirm-phone .personal-info--header .account--links .account--link:not(:last-child)::after, .account--confirm-phone .security--header .account--links .account--link:not(:last-child)::after, .account--confirm-phone .confirm-phone--header .account--links .account--link:not(:last-child)::after {
  content: "\f054";
  font: normal normal normal 7px/1 FontAwesome;
  font-size: .8rem;
  vertical-align: middle;
  margin-left: .25rem;
  margin-right: .35rem; }

.account--personal-info .personal-info--header h1, .account--personal-info .security--header h1, .account--personal-info .confirm-phone--header h1, .account--security .personal-info--header h1, .account--security .security--header h1, .account--security .confirm-phone--header h1, .account--confirm-phone .personal-info--header h1, .account--confirm-phone .security--header h1, .account--confirm-phone .confirm-phone--header h1 {
  margin-top: .6rem;
  font-size: 2rem; }

.account--personal-info .personal-info--settings .personal-info--form, .account--personal-info .personal-info--settings .security--form, .account--personal-info .security--settings .personal-info--form, .account--personal-info .security--settings .security--form, .account--security .personal-info--settings .personal-info--form, .account--security .personal-info--settings .security--form, .account--security .security--settings .personal-info--form, .account--security .security--settings .security--form, .account--confirm-phone .personal-info--settings .personal-info--form, .account--confirm-phone .personal-info--settings .security--form, .account--confirm-phone .security--settings .personal-info--form, .account--confirm-phone .security--settings .security--form {
  margin-top: 2rem; }
  .account--personal-info .personal-info--settings .personal-info--form form, .account--personal-info .personal-info--settings .security--form form, .account--personal-info .security--settings .personal-info--form form, .account--personal-info .security--settings .security--form form, .account--security .personal-info--settings .personal-info--form form, .account--security .personal-info--settings .security--form form, .account--security .security--settings .personal-info--form form, .account--security .security--settings .security--form form, .account--confirm-phone .personal-info--settings .personal-info--form form, .account--confirm-phone .personal-info--settings .security--form form, .account--confirm-phone .security--settings .personal-info--form form, .account--confirm-phone .security--settings .security--form form {
    max-width: 70%;
    display: flex;
    flex-flow: row wrap; }
    .account--personal-info .personal-info--settings .personal-info--form form > .form-group, .account--personal-info .personal-info--settings .security--form form > .form-group, .account--personal-info .security--settings .personal-info--form form > .form-group, .account--personal-info .security--settings .security--form form > .form-group, .account--security .personal-info--settings .personal-info--form form > .form-group, .account--security .personal-info--settings .security--form form > .form-group, .account--security .security--settings .personal-info--form form > .form-group, .account--security .security--settings .security--form form > .form-group, .account--confirm-phone .personal-info--settings .personal-info--form form > .form-group, .account--confirm-phone .personal-info--settings .security--form form > .form-group, .account--confirm-phone .security--settings .personal-info--form form > .form-group, .account--confirm-phone .security--settings .security--form form > .form-group {
      flex: 1 100% !important; }
    .account--personal-info .personal-info--settings .personal-info--form form .form-group, .account--personal-info .personal-info--settings .security--form form .form-group, .account--personal-info .security--settings .personal-info--form form .form-group, .account--personal-info .security--settings .security--form form .form-group, .account--security .personal-info--settings .personal-info--form form .form-group, .account--security .personal-info--settings .security--form form .form-group, .account--security .security--settings .personal-info--form form .form-group, .account--security .security--settings .security--form form .form-group, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group, .account--confirm-phone .personal-info--settings .security--form form .form-group, .account--confirm-phone .security--settings .personal-info--form form .form-group, .account--confirm-phone .security--settings .security--form form .form-group {
      display: flex !important;
      flex-direction: column !important; }
      .account--personal-info .personal-info--settings .personal-info--form form .form-group:not(:last-child), .account--personal-info .personal-info--settings .security--form form .form-group:not(:last-child), .account--personal-info .security--settings .personal-info--form form .form-group:not(:last-child), .account--personal-info .security--settings .security--form form .form-group:not(:last-child), .account--security .personal-info--settings .personal-info--form form .form-group:not(:last-child), .account--security .personal-info--settings .security--form form .form-group:not(:last-child), .account--security .security--settings .personal-info--form form .form-group:not(:last-child), .account--security .security--settings .security--form form .form-group:not(:last-child), .account--confirm-phone .personal-info--settings .personal-info--form form .form-group:not(:last-child), .account--confirm-phone .personal-info--settings .security--form form .form-group:not(:last-child), .account--confirm-phone .security--settings .personal-info--form form .form-group:not(:last-child), .account--confirm-phone .security--settings .security--form form .form-group:not(:last-child) {
        margin-bottom: 1rem !important; }
      .account--personal-info .personal-info--settings .personal-info--form form .form-group:nth-child(-n+3), .account--personal-info .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--personal-info .security--settings .personal-info--form form .form-group:nth-child(-n+3), .account--personal-info .security--settings .security--form form .form-group:nth-child(-n+3), .account--security .personal-info--settings .personal-info--form form .form-group:nth-child(-n+3), .account--security .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--security .security--settings .personal-info--form form .form-group:nth-child(-n+3), .account--security .security--settings .security--form form .form-group:nth-child(-n+3), .account--confirm-phone .personal-info--settings .personal-info--form form .form-group:nth-child(-n+3), .account--confirm-phone .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--confirm-phone .security--settings .personal-info--form form .form-group:nth-child(-n+3), .account--confirm-phone .security--settings .security--form form .form-group:nth-child(-n+3) {
        flex: 2 0 !important; }
      .account--personal-info .personal-info--settings .personal-info--form form .form-group:nth-child(-n+2), .account--personal-info .personal-info--settings .security--form form .form-group:nth-child(-n+2), .account--personal-info .security--settings .personal-info--form form .form-group:nth-child(-n+2), .account--personal-info .security--settings .security--form form .form-group:nth-child(-n+2), .account--security .personal-info--settings .personal-info--form form .form-group:nth-child(-n+2), .account--security .personal-info--settings .security--form form .form-group:nth-child(-n+2), .account--security .security--settings .personal-info--form form .form-group:nth-child(-n+2), .account--security .security--settings .security--form form .form-group:nth-child(-n+2), .account--confirm-phone .personal-info--settings .personal-info--form form .form-group:nth-child(-n+2), .account--confirm-phone .personal-info--settings .security--form form .form-group:nth-child(-n+2), .account--confirm-phone .security--settings .personal-info--form form .form-group:nth-child(-n+2), .account--confirm-phone .security--settings .security--form form .form-group:nth-child(-n+2) {
        margin-right: .8rem !important; }
      .account--personal-info .personal-info--settings .personal-info--form form .form-group input, .account--personal-info .personal-info--settings .personal-info--form form .form-group select, .account--personal-info .personal-info--settings .security--form form .form-group input, .account--personal-info .personal-info--settings .security--form form .form-group select, .account--personal-info .security--settings .personal-info--form form .form-group input, .account--personal-info .security--settings .personal-info--form form .form-group select, .account--personal-info .security--settings .security--form form .form-group input, .account--personal-info .security--settings .security--form form .form-group select, .account--security .personal-info--settings .personal-info--form form .form-group input, .account--security .personal-info--settings .personal-info--form form .form-group select, .account--security .personal-info--settings .security--form form .form-group input, .account--security .personal-info--settings .security--form form .form-group select, .account--security .security--settings .personal-info--form form .form-group input, .account--security .security--settings .personal-info--form form .form-group select, .account--security .security--settings .security--form form .form-group input, .account--security .security--settings .security--form form .form-group select, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group input, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group select, .account--confirm-phone .personal-info--settings .security--form form .form-group input, .account--confirm-phone .personal-info--settings .security--form form .form-group select, .account--confirm-phone .security--settings .personal-info--form form .form-group input, .account--confirm-phone .security--settings .personal-info--form form .form-group select, .account--confirm-phone .security--settings .security--form form .form-group input, .account--confirm-phone .security--settings .security--form form .form-group select {
        padding: 1.4rem 1rem;
        color: #484848 !important;
        border: 1px solid #ebebeb !important;
        border-radius: 4px !important; }
        .account--personal-info .personal-info--settings .personal-info--form form .form-group input:focus, .account--personal-info .personal-info--settings .personal-info--form form .form-group select:focus, .account--personal-info .personal-info--settings .security--form form .form-group input:focus, .account--personal-info .personal-info--settings .security--form form .form-group select:focus, .account--personal-info .security--settings .personal-info--form form .form-group input:focus, .account--personal-info .security--settings .personal-info--form form .form-group select:focus, .account--personal-info .security--settings .security--form form .form-group input:focus, .account--personal-info .security--settings .security--form form .form-group select:focus, .account--security .personal-info--settings .personal-info--form form .form-group input:focus, .account--security .personal-info--settings .personal-info--form form .form-group select:focus, .account--security .personal-info--settings .security--form form .form-group input:focus, .account--security .personal-info--settings .security--form form .form-group select:focus, .account--security .security--settings .personal-info--form form .form-group input:focus, .account--security .security--settings .personal-info--form form .form-group select:focus, .account--security .security--settings .security--form form .form-group input:focus, .account--security .security--settings .security--form form .form-group select:focus, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group input:focus, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group select:focus, .account--confirm-phone .personal-info--settings .security--form form .form-group input:focus, .account--confirm-phone .personal-info--settings .security--form form .form-group select:focus, .account--confirm-phone .security--settings .personal-info--form form .form-group input:focus, .account--confirm-phone .security--settings .personal-info--form form .form-group select:focus, .account--confirm-phone .security--settings .security--form form .form-group input:focus, .account--confirm-phone .security--settings .security--form form .form-group select:focus {
          border-color: #008489 !important; }
      .account--personal-info .personal-info--settings .personal-info--form form .form-group select, .account--personal-info .personal-info--settings .security--form form .form-group select, .account--personal-info .security--settings .personal-info--form form .form-group select, .account--personal-info .security--settings .security--form form .form-group select, .account--security .personal-info--settings .personal-info--form form .form-group select, .account--security .personal-info--settings .security--form form .form-group select, .account--security .security--settings .personal-info--form form .form-group select, .account--security .security--settings .security--form form .form-group select, .account--confirm-phone .personal-info--settings .personal-info--form form .form-group select, .account--confirm-phone .personal-info--settings .security--form form .form-group select, .account--confirm-phone .security--settings .personal-info--form form .form-group select, .account--confirm-phone .security--settings .security--form form .form-group select {
        padding: .69rem 1rem;
        height: 120%; }

.account--personal-info .personal-info--settings .security--form form .form-group, .account--personal-info .security--settings .security--form form .form-group, .account--security .personal-info--settings .security--form form .form-group, .account--security .security--settings .security--form form .form-group, .account--confirm-phone .personal-info--settings .security--form form .form-group, .account--confirm-phone .security--settings .security--form form .form-group {
  flex: 1 100% !important; }
  .account--personal-info .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--personal-info .security--settings .security--form form .form-group:nth-child(-n+3), .account--security .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--security .security--settings .security--form form .form-group:nth-child(-n+3), .account--confirm-phone .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--confirm-phone .security--settings .security--form form .form-group:nth-child(-n+3) {
    flex: 1 100% !important; }

.account--security .security--header {
  margin-bottom: 3.5rem; }

.account--security .security--settings {
  max-width: 75%; }
  .account--security .security--settings .security-section h2 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .account--security .security--settings .security-section > div {
    display: flex;
    justify-content: space-between; }

.account--confirm-phone .confirm-phone--header {
  margin-bottom: 3.5rem; }

.account--confirm-phone .confirm-phone .code {
  margin-right: .5rem;
  border-radius: 5px;
  font-size: 50px;
  height: 95px;
  width: 80px;
  border: 1px solid #eee;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield; }
  .account--confirm-phone .confirm-phone .code::-webkit-outer-spin-button, .account--confirm-phone .confirm-phone .code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .account--confirm-phone .confirm-phone .code:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25); }

.account--confirm-phone .confirm-phone .info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px; }

.profile-show {
  margin-top: 2.5rem;
  display: flex; }
  .profile-show .profile-card {
    flex: 1;
    height: 100%;
    margin-right: 3.5rem;
    padding: 2rem;
    border: 1px solid #DDDDDD !important;
    border-radius: 12px; }
    .profile-show .profile-card .profile-photo {
      text-align: center; }
      .profile-show .profile-card .profile-photo a {
        margin-top: .4rem;
        display: block;
        text-decoration: underline; }
        .profile-show .profile-card .profile-photo a:hover {
          color: #222; }
    .profile-show .profile-card .profile-reviews-count {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; }
      .profile-show .profile-card .profile-reviews-count span {
        font-weight: bolder; }
    .profile-show .profile-card .confirmed-details {
      margin-top: 1.5rem; }
      .profile-show .profile-card .confirmed-details h3 {
        font-size: 1.3rem;
        font-weight: 600; }
      .profile-show .profile-card .confirmed-details .confirmed-detail span.check-icon {
        margin-right: .4rem; }
  .profile-show .profile-info {
    flex: 2;
    max-width: 66%; }
    .profile-show .profile-info h2 {
      font-size: 1.4rem;
      font-weight: bolder; }
    .profile-show .profile-info .profile-header h1 {
      font-size: 2.2rem;
      margin-bottom: .1rem; }
    .profile-show .profile-info .profile-header p.joined-date {
      margin-bottom: .3rem; }
    .profile-show .profile-info .profile-header a {
      color: #222;
      text-decoration: underline; }
    .profile-show .profile-info .about-section {
      margin-top: 2.5rem;
      margin-bottom: 1.7rem; }
    .profile-show .profile-info .listings-section {
      margin-top: 1.7rem;
      margin-bottom: 1.7rem; }
      .profile-show .profile-info .listings-section .listings {
        margin-top: 1.5rem; }
        .profile-show .profile-info .listings-section .listings .splide__pagination {
          bottom: -1.2em; }
        .profile-show .profile-info .listings-section .listings .splide__arrow {
          background-color: #aaadb73b;
          top: 7rem; }
        .profile-show .profile-info .listings-section .listings .splide__pagination__page.is-active {
          background-color: #FF385C; }
        .profile-show .profile-info .listings-section .listings .listing img {
          border-radius: 12px; }
        .profile-show .profile-info .listings-section .listings .listing .listing-rating {
          margin-top: .5rem; }
        .profile-show .profile-info .listings-section .listings .listing .listing-details .listing-link {
          color: #222; }
        .profile-show .profile-info .listings-section .listings .listing .listing-details .listing-type {
          margin-bottom: 0; }
    .profile-show .profile-info .reviews-section {
      margin-top: 1.7rem;
      margin-bottom: 1.7rem; }
      .profile-show .profile-info .reviews-section h2 {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .profile-show .profile-info .reviews-section h2 span:first-child {
          margin-right: .4rem; }
      .profile-show .profile-info .reviews-section .reviews {
        margin-top: 1.5rem; }
        .profile-show .profile-info .reviews-section .reviews .review {
          margin-top: 2rem; }
          .profile-show .profile-info .reviews-section .reviews .review .review-header {
            display: flex;
            justify-content: space-between; }
            .profile-show .profile-info .reviews-section .reviews .review .review-header .review-realty-name p {
              font-size: 1.1rem;
              font-weight: bolder;
              margin-bottom: 0; }
            .profile-show .profile-info .reviews-section .reviews .review .review-header .review-date p {
              margin-bottom: .5rem; }
            .profile-show .profile-info .reviews-section .reviews .review .review-header .review-realty-image img {
              border-radius: 8px; }
          .profile-show .profile-info .reviews-section .reviews .review .review-author {
            display: flex; }
            .profile-show .profile-info .reviews-section .reviews .review .review-author .author-profile-image {
              margin-right: 1rem; }
            .profile-show .profile-info .reviews-section .reviews .review .review-author .author-info .author-name {
              font-weight: bolder;
              margin-bottom: 0; }

.edit-image .edit-image--header .profile--links .profile--link a, .edit-image .edit-description--header .profile--links .profile--link a, .edit-description .edit-image--header .profile--links .profile--link a, .edit-description .edit-description--header .profile--links .profile--link a {
  color: #222; }

.edit-image .edit-image--header .profile--links .profile--link:not(:last-child)::after, .edit-image .edit-description--header .profile--links .profile--link:not(:last-child)::after, .edit-description .edit-image--header .profile--links .profile--link:not(:last-child)::after, .edit-description .edit-description--header .profile--links .profile--link:not(:last-child)::after {
  content: "\f054";
  font: normal normal normal 7px/1 FontAwesome;
  font-size: .8rem;
  vertical-align: middle;
  margin-left: .25rem;
  margin-right: .35rem; }

.edit-image .edit-image--header h1, .edit-image .edit-description--header h1, .edit-description .edit-image--header h1, .edit-description .edit-description--header h1 {
  margin-top: .6rem;
  font-size: 2rem; }

.edit-image .profile-image--form .image-group, .edit-description .profile-image--form .image-group {
  display: flex; }
  .edit-image .profile-image--form .image-group .image-preview, .edit-description .profile-image--form .image-group .image-preview {
    margin-right: 2rem; }
  .edit-image .profile-image--form .image-group .form-group label:first-child, .edit-description .profile-image--form .image-group .form-group label:first-child {
    display: none; }
  .edit-image .profile-image--form .image-group .form-group a, .edit-description .profile-image--form .image-group .form-group a {
    margin-bottom: .5rem; }
    .edit-image .profile-image--form .image-group .form-group a:after, .edit-description .profile-image--form .image-group .form-group a:after {
      content: ' ';
      display: block; }

.edit-image .profile-image--form .image-preview, .edit-description .profile-image--form .image-preview {
  width: 145px;
  height: 145px;
  position: relative;
  border-radius: 10px;
  border: 6px solid #f8f8f8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .edit-image .profile-image--form .image-preview #profile-image, .edit-description .profile-image--form .image-preview #profile-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

@media screen and (max-width: 770px) {
  .page-wrapper {
    display: flex;
    flex-direction: column; }
  .realty-list .realty .realty-card {
    display: grid;
    grid-template-areas: "image" "save" "description"; }
    .realty-list .realty .realty-card .realty-card--image {
      grid-area: image;
      margin-right: 0;
      margin-bottom: 1rem; }
      .realty-list .realty .realty-card .realty-card--image img {
        width: 100%; }
    .realty-list .realty .realty-card .realty-card-save {
      grid-area: save;
      margin-left: 0;
      display: flex;
      align-content: center;
      justify-content: flex-end; }
      .realty-list .realty .realty-card .realty-card-save a {
        color: #222;
        border-radius: 100%;
        padding: 0;
        margin-top: .25rem; }
      .realty-list .realty .realty-card .realty-card-save a:hover {
        background: none; }
    .realty-list .realty .realty-card .realty-card--description {
      grid-area: description; }
  .form-group.flex--between {
    max-width: 100%; }
  .profile-show {
    display: block; }
    .profile-show .profile-card {
      margin-right: 0;
      margin-bottom: 2rem;
      padding: 0;
      border: none !important; }
    .profile-show .profile-info {
      max-width: 100%; }
      .profile-show .profile-info .listings-section .listing img {
        width: 90%; }
  .account--personal-info .personal-info--settings .personal-info--form form, .account--personal-info .personal-info--settings .security--form form, .account--personal-info .security--settings .personal-info--form form, .account--personal-info .security--settings .security--form form, .account--security .personal-info--settings .personal-info--form form, .account--security .personal-info--settings .security--form form, .account--security .security--settings .personal-info--form form, .account--security .security--settings .security--form form {
    max-width: 100%; }
    .account--personal-info .personal-info--settings .personal-info--form form .form-group:nth-child(-n+3), .account--personal-info .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--personal-info .security--settings .personal-info--form form .form-group:nth-child(-n+3), .account--personal-info .security--settings .security--form form .form-group:nth-child(-n+3), .account--security .personal-info--settings .personal-info--form form .form-group:nth-child(-n+3), .account--security .personal-info--settings .security--form form .form-group:nth-child(-n+3), .account--security .security--settings .personal-info--form form .form-group:nth-child(-n+3), .account--security .security--settings .security--form form .form-group:nth-child(-n+3) {
      flex: 1 100% !important; }
    .account--personal-info .personal-info--settings .personal-info--form form .form-group:nth-child(-n+2), .account--personal-info .personal-info--settings .security--form form .form-group:nth-child(-n+2), .account--personal-info .security--settings .personal-info--form form .form-group:nth-child(-n+2), .account--personal-info .security--settings .security--form form .form-group:nth-child(-n+2), .account--security .personal-info--settings .personal-info--form form .form-group:nth-child(-n+2), .account--security .personal-info--settings .security--form form .form-group:nth-child(-n+2), .account--security .security--settings .personal-info--form form .form-group:nth-child(-n+2), .account--security .security--settings .security--form form .form-group:nth-child(-n+2) {
      margin-right: 0 !important; }
  .account--security .security--settings {
    max-width: 100%; }
  .account--confirm-phone .confirm-phone .code-container {
    flex-wrap: wrap; }
  .account--confirm-phone .confirm-phone .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px; }
  .profile-image--form .image-group {
    display: flex;
    flex-direction: column; }
    .profile-image--form .image-group .image-preview {
      margin: auto !important; }
  .profile-image--form .image-preview {
    width: 175px !important;
    height: 175px !important; } }
