{% load inlinecss %}
{% load static %}

{% inlinecss 'subscribers/css/promo.css' %}
    <html>
        <body>
            <div class="wrapper">
                <div class="email-content">
                    <h1 class="header-center">
                        {% if subscriber.user %}
                            {{ subscriber.user.first_name }}, check out new realty
                        {% else %}
                            Check out new realty
                        {% endif %}
                    </h1>

                    {% for realty in realty_list %}
                        <div class="realty-card">
                            <div class="realty-card--image">
                                <a href="{{ protocol }}://{{ domain }}{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                                    {% if realty.images.exists %}
                                        <img src="{{ realty.images.first.image.url }}"
                                             width="300" height="200" alt="Realty image">
                                    {% else %}
                                        <img src="/static/realty/images/default/realty_image_placeholder.png"
                                             width="300" height="200" alt="Realty image">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="realty-card--description">
                            <div class="realty-card--name">
                                <a href="{{ protocol }}://{{ domain }}{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                                    <p class="realty-card--short-description color-secondary mb-0">
                                        {{ realty.realty_type }} in {{ realty.location.street }}
                                    </p>
                                </a>
                                <a href="{{ protocol }}://{{ domain }}{% url 'realty:detail' pk=realty.id slug=realty.slug %}">
                                    <h4>{{ realty.name }}</h4>
                                </a>
                            </div>
                            <hr class="divider--short">
                            <div class="realty-card--properties">
                                <ul class="rooms color-secondary">
                                    {% with max_guests_count=realty.max_guests_count  %}
                                        <li>{{ max_guests_count }} guest{{ max_guests_count|pluralize }}</li>
                                    {% endwith %}
                                    {% with beds_count=realty.beds_count  %}
                                        <li>{{ beds_count }} bed{{ beds_count|pluralize }}</li>
                                    {% endwith %}
                                </ul>
                                <ul class="amenities color-secondary">
                                    {% for amenity in realty.amenities.all %}
                                        <li>{{ amenity.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="realty-card--footer">
                                <div class="realty-price">
                                    <span class="price">{{ realty.price_per_night }}$</span> / night
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}

                    <p>
                        Thanks,
                        <br>
                        {{ domain }} Team
                    </p>

                    <div class="email-sub-url">
                        <hr>
                        <p>
                            Find more exciting places at
                            <a href="{{ protocol }}://{{ domain }}{% url 'home_page' %}">
                                air-project.xyz
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endinlinecss %}
