{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ realty.name|slice:":45" }} &bull; Realty &bull; Air
{% endblock %}

{% block meta_tags %}
    <meta property="og:title" content="{{ realty.name|slice:":45" }} | Realty | Air">
    <meta name="description" property="og:description" content="{{ meta_description }}">
    <meta property="og:type" content="realty">
    <meta property="og:image"
          content="{% if realty.images.exists %}{{ realty.images.first.image.url }}{% else %}{{ ABSOLUTE_ROOT }}{% static 'realty/images/default/realty_image_placeholder.png' %}{% endif %}">
    <meta property="og:image:alt" content="Realty image">
    <meta property="og:url" content="{{ ABSOLUTE_URL }}">
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block content %}
    <div class="realty-detail">
        <div class="realty-header">
            <h1>{{ realty.name }}</h1>
            <div class="realty-header--footer">
                <div class="info--left">
                    <ul>
                        <li>
                            <a href="#" class="link">
                                {{ realty.location.city }}, {{ realty.location.country }}
                            </a>

                            {# TODO: Show realty views in the host listings dashboard #}
                            <span class="ml-2">{{ realty_views_count }} view{{ realty_views_count|pluralize }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if realty.images.exists %}
            <div class="realty-images">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list image-carousel">
                            {% for realty_image in realty.images.all %}
                                <li class="carousel-content splide__slide">
                                    <a href="{{ realty_image.image.url }}" data-lightbox="realty_images">
                                        <img class="realty-image"
                                             src="{{ realty_image.image.url }}"
                                             alt="Realty image">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="realty-info">
            <div class="realty-info--header">
                <div class="realty-general-info">
                    <div class="realty-name">
                        <h2>{{ realty.realty_type }} hosted by {{ realty.host.user.first_name }}</h2>
                    </div>
                    <div class="realty-features">
                        <ul>
                            {% with max_guests_count=realty.max_guests_count %}
                                <li>{{ max_guests_count }} guest{{ max_guests_count|pluralize }}</li>
                            {% endwith %}
                            <li>{{ realty.realty_type }}</li>
                            {% with beds_count=realty.beds_count %}
                                <li>{{ realty.beds_count }} bed{{ beds_count|pluralize }}</li>
                            {% endwith %}
                        </ul>
                    </div>
                </div>
                <div class="host-link">
                    <a href="{% url 'accounts:profile_show' user_pk=realty.host.user.id %}">
                        <img src="{{ realty.host.user.profile.profile_image.url }}"
                             width="56" height="56"
                             alt="Host profile image" class="rounded-circle">
                    </a>
                </div>
            </div>

            <div class="realty-reserve">
                <div class="realty-short-info">
                    <p class="realty-price">
                        <span class="price">{{ realty.price_per_night }}$</span> / night
                    </p>
                </div>
                <div class="realty-reserve-button">
                    {# TODO: Reserve realty #}
                    <a href="#" class="button-primary">Reserve</a>
                </div>
            </div>

            <hr>
            <div class="realty-description">
                <p>{{ realty.description|safe|linebreaks }}</p>

                {# TODO: DM host (django channels + websockets, another milestone) #}
                <a href="#" class="color-secondary contact-host--link">Contact host</a>
            </div>

            <hr>
            <div class="realty-amenities">
            <h3>Amenities</h3>
                <div class="row">
                    {% for amenity in realty.amenities.all %}
                        <div class="col-md-6">
                            <div class="realty-amenity">
                                <span>{{ amenity.name|capfirst }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# TODO: Realty reviews #}

            <hr>
            <div class="realty-location">
                <h3>Location</h3>
                <p>{{ realty.location.get_full_address }}</p>
            </div>

            <hr>
            <div class="realty-host-info">
                <div class="realty-host">
                    <div class="host-profile">
                        <a href="{% url 'accounts:profile_show' user_pk=realty.host.user.id %}">
                            <img src="{{ realty.host.user.profile.profile_image.url }}"
                                 width="56" height="56"
                                 alt="Host profile image" class="rounded-circle">
                        </a>
                        <div class="host-content--right">
                            <div class="host-name">
                                <h3>Hosted by {{ realty.host.user.full_name }}</h3>
                            </div>
                            <div class="host-joined-date">
                                Joined in {{ realty.host.user.date_joined|date:'F Y' }}
                            </div>
                        </div>
                    </div>

                    {# TODO: Host total reviews count #}

                    <div class="host-description">
                        <p>{{ realty.host.description }}</p>
                    </div>
                </div>

                {# TODO: DM Host #}
                <div class="contact-host">
                    <a href="#" class="button-light">Contact host</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>

</script>


{% block domready %}

    // Splide slider
    const imagesCount = parseInt({{ realty.images.count }});
    const splideType = (imagesCount > 3) ? {type: 'slide', perPage: 1} : {perPage: imagesCount, arrows: false};

    const splideOptions = {
        gap: '1rem',
        rewind: false,
        autoWidth: true,
        height: '12rem',
        lazyLoad: 'nearby',
        breakpoints: {
            height: '8rem',
        },
    }
    if (imagesCount > 0) {
        new Splide( '.splide', Object.assign(splideType, splideOptions)).mount();
    }

    // Lightbox
    lightbox.option({
        'showImageNumberLabel': false,
        'maxHeight': 500,
        'maxWidth': 500,
    });

{% endblock %}
